repo/workflows/0FAmOv9JpIoEWVuU.json
{
  "createdAt": "2025-09-09T14:01:22.363Z",
  "updatedAt": "2025-09-09T14:10:58.095Z",
  "id": "0FAmOv9JpIoEWVuU",
  "name": "cis-slack-initializer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.challenge }}",
              "rightValue": "",
              "operator": {
                "type": "exists",
                "operation": "exists",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64a6759f-0e58-4643-b328-67b5acde736e",
      "name": "Check for Challenge",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -736,
        -112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b93bcf08-a5ad-4a23-bdf4-916da2eb6b7c",
      "name": "Respond to Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -512,
        -208
      ]
    },
    {
      "parameters": {},
      "id": "8dfd1db1-1d97-40c5-8100-a9607c4fd0ed",
      "name": "Process Event",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -512,
        -16
      ]
    },
    {
      "parameters": {
        "channelId": {
          "__rl": true,
          "value": "C09E8UKLDL2",
          "mode": "list",
          "cachedResultName": "cis-bot"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -112
      ],
      "id": "24a33463-1cb8-4286-8b33-6873107eba50",
      "name": "Slack Trigger",
      "webhookId": "c457b1d5-4992-4e38-9ddd-c1ffae35b28f",
      "credentials": {
        "slackApi": {
          "id": "eIahzMgK2AxKXVv8",
          "name": "cis-slack-yo"
        }
      }
    }
  ],
  "connections": {
    "Check for Challenge": {
      "main": [
        [
          {
            "node": "Respond to Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Check for Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b7e06e46-f601-4b26-aee6-2f7c42fd8ff2",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-09T14:01:22.363Z",
      "updatedAt": "2025-09-09T14:01:22.363Z",
      "role": "workflow:owner",
      "workflowId": "0FAmOv9JpIoEWVuU",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}