repo/workflows/0SmRgoHI9W2j8oUE.json
{
  "createdAt": "2025-04-24T20:46:41.193Z",
  "updatedAt": "2025-04-24T20:46:41.193Z",
  "id": "0SmRgoHI9W2j8oUE",
  "name": "My workflow 29",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $json.adAccountId }}/ads?fields=account_id,id,name,status,creative{image_url,object_story_id,effective_object_story_id,body,title,object_type}&date_preset=last_90d&limit=1000&filtering=[{\"field\":\"effective_status\",\"operator\":\"IN\",\"value\":[\"ACTIVE\"]}]",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n\"Authorization\":\"Bearer EAAQXxfUy0jUBOxJvbP7GSLNz8xKVAJMchhhiFQvw2SoROi0Vb3EwuVKuKnzzGzncMjWtNvzKvSmV2n5QZAlNR5FnZCO7ELydkycAXXygjZAKX9bWaMFTgjkCeHzjbF4iIy5J2VhNfsHAzZCYLhTEZCZBBPmZCCg1zPcPyNSIgLT0Ww2b1AHoWEfMcFKFVmcXvpeVwZDZD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4560,
        660
      ],
      "id": "4cc3ad04-de8e-4eae-9cfd-b913477f31b9",
      "name": "Ads in single Ad Account3"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appwm4UZbaXu66zac",
          "mode": "list",
          "cachedResultName": "Facebook Ads Research",
          "cachedResultUrl": "https://airtable.com/appwm4UZbaXu66zac"
        },
        "table": {
          "__rl": true,
          "value": "tblupA5NH2eKpej5w",
          "mode": "list",
          "cachedResultName": "Ad per Ad Account",
          "cachedResultUrl": "https://airtable.com/appwm4UZbaXu66zac/tblupA5NH2eKpej5w"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ad_id": "={{ $json.ad_id }}",
            "ad_name": "={{ $json.ad_name }}",
            "account_id": "={{ $json.account_id }}",
            "creative_id": "={{ $json.creative_id }}",
            "ad_text": "={{ $json.creative.body }}",
            "ad_title": "={{ $json.creative.title }}",
            "image": "=[]",
            "video": "=[\n      {\n        \"url\": \"{{ $json.attachments.data[0].media.source }}\"\n      }\n    ]",
            "brand": "={{ [$json.brand_name] }}",
            "post_link": "={{ $json.attachments.data[0].target.url }}"
          },
          "matchingColumns": [
            "ad_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ad_id",
              "displayName": "ad_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad_name",
              "displayName": "ad_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "creative_id",
              "displayName": "creative_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad_text",
              "displayName": "ad_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad_title",
              "displayName": "ad_title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video",
              "displayName": "video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad per account",
              "displayName": "ad per account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "CORKCICLE",
                  "value": "CORKCICLE"
                },
                {
                  "name": "Reggie",
                  "value": "Reggie"
                },
                {
                  "name": "BlueChew",
                  "value": "BlueChew"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "post_link",
              "displayName": "post_link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Angle",
              "displayName": "Angle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Angle Type",
              "displayName": "Angle Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Use-Case/Activity-Based Angle",
                  "value": "Use-Case/Activity-Based Angle"
                },
                {
                  "name": "Benefit-Based Angle",
                  "value": "Benefit-Based Angle"
                },
                {
                  "name": "Problem-Based Angle",
                  "value": "Problem-Based Angle"
                },
                {
                  "name": "Emotional Appeal Angle",
                  "value": "Emotional Appeal Angle"
                },
                {
                  "name": "Feature-Based Angle",
                  "value": "Feature-Based Angle"
                },
                {
                  "name": "Urgency/Promotional Angle",
                  "value": "Urgency/Promotional Angle"
                },
                {
                  "name": "Social Proof Angle",
                  "value": "Social Proof Angle"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Explanation",
              "displayName": "Explanation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "comment 2",
              "displayName": "comment 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "brand-message-angel",
              "displayName": "brand-message-angel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand 12",
              "displayName": "Brand 12",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -500,
        -220
      ],
      "id": "1e1f5123-a09c-4ae1-b9c4-2d4d4bf05f5f",
      "name": "Airtable1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "zKI4T9icngPEPFoi",
          "name": "Airtable Personal Access Token account 7"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3760,
        560
      ],
      "id": "f69209b9-4e3d-41be-9767-14697587c556",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/me/accounts",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n\"Authorization\":\"Bearer EAAQXxfUy0jUBOxJvbP7GSLNz8xKVAJMchhhiFQvw2SoROi0Vb3EwuVKuKnzzGzncMjWtNvzKvSmV2n5QZAlNR5FnZCO7ELydkycAXXygjZAKX9bWaMFTgjkCeHzjbF4iIy5J2VhNfsHAzZCYLhTEZCZBBPmZCCg1zPcPyNSIgLT0Ww2b1AHoWEfMcFKFVmcXvpeVwZDZD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5560,
        80
      ],
      "id": "959c1842-1c3d-42af-8f02-263b9445e46f",
      "name": "Get All Allowed Accounts"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "account_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -3100,
        100
      ],
      "id": "08e7db68-5695-46c1-aea3-3b4afe254638",
      "name": "Merge5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5360,
        80
      ],
      "id": "d74c3ac6-df2a-4f68-9cbc-38049820ca3e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1860,
        80
      ],
      "id": "a51b01ec-d43d-4a13-8c42-b616ce39244a",
      "name": "Merge8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ea38987-cf74-4be0-b8b4-8f785e7c8e80",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "3ca9b984-6341-494c-8668-dedb522596e0",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "8f18708d-6a39-4e7d-a3f0-2f5231cf43d3",
              "name": "object_type",
              "value": "={{ $json.object_type }}",
              "type": "string"
            },
            {
              "id": "a62d76f8-2fe4-4a2b-9455-48c746f9c007",
              "name": "full_picture",
              "value": "={{ $json.full_picture }}",
              "type": "string"
            },
            {
              "id": "4ddb21f4-d078-4e04-b112-90057ee9a521",
              "name": "attachments",
              "value": "={{ $json.attachments }}",
              "type": "object"
            },
            {
              "id": "a0a3475f-14b5-4e47-8f1d-6c69bccd6b8e",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "a6186fa4-c641-4994-8cd8-3150466d762d",
              "name": "ad_id",
              "value": "={{ $json.ad_id }}",
              "type": "string"
            },
            {
              "id": "7567f82d-bd30-4a13-949b-4db18766a7a1",
              "name": "creative_id",
              "value": "={{ $json.creative.id }}",
              "type": "string"
            },
            {
              "id": "6186e749-95db-4284-a503-36c64ec6346a",
              "name": "ad_name",
              "value": "={{ $json.ad_name }}",
              "type": "string"
            },
            {
              "id": "9157daab-497a-466c-9e1c-fc5a1174e07f",
              "name": "brand_name",
              "value": "={{ $json.brand_name }}",
              "type": "string"
            },
            {
              "id": "83894974-b020-4bb8-84d2-d478830040ae",
              "name": "creative",
              "value": "={{ $json.creative }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        80
      ],
      "id": "422e5232-e22d-415a-894f-6c15762fc23e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.object_type }}",
                    "rightValue": "VIDEO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a14ca39f-0b2c-4a0c-91c2-7e43026532b3",
                    "leftValue": "={{ $json.object_type }}",
                    "rightValue": "VIDEO",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1180,
        80
      ],
      "id": "50a1f78a-0ea8-4af4-a2e4-8f24d085d70a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d57e344-ced3-4b0e-9001-7f9e81593adb",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "afa25261-ef60-429e-a68c-0863d4817cb1",
              "name": "brand_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9f83fa16-fcc2-4693-b23e-49e2c9e42775",
              "name": "account_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5180,
        80
      ],
      "id": "0260a7b5-978c-4cdd-b2e6-d62540368ed3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99b8a5ec-ea49-46af-ba7f-b397098599ee",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "fca45539-9056-4dab-8491-1bce5c32ac42",
              "name": "ad_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "28d28546-b319-431e-9d56-b67a77a95011",
              "name": "ad_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "12688bc5-3473-47ff-970f-e149ab5865a9",
              "name": "creative",
              "value": "={{ $json.creative }}",
              "type": "object"
            },
            {
              "id": "d5a7eb2c-e3a6-40db-a55d-0f053ec88bcc",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "1a000bfa-ad81-49c0-9a00-c15b58f77ad7",
              "name": "creative.body",
              "value": "={{ $json.creative.body }}",
              "type": "string"
            },
            {
              "id": "5f9463f2-3fc9-4323-9a6d-dd2f7e900fb1",
              "name": "creative.title",
              "value": "={{ $json.creative.title }}",
              "type": "string"
            },
            {
              "id": "04b01855-ca8f-460c-95ff-b45f037fc57d",
              "name": "object_type",
              "value": "={{ $json.creative.object_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3360,
        560
      ],
      "id": "edcc5db3-a941-4ff2-9887-b2ad420bcfe3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "// Transform the input array by adding 'account_id' to each item\nconst updatedArray = $input.all().map(item => {\n  // Extract account_id from effective_object_story_id\n  const account_id = item.json.creative?.effective_object_story_id?.split(\"_\")[0];\n\n  // Return new object with 'account_id' added\n  return {\n    ...item.json, // Spread existing properties\n    account_id // Add new field\n  };\n});\n\n// Return the updated array\nreturn updatedArray;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3580,
        560
      ],
      "id": "995db6b7-4c99-4b71-9b8e-c34c44d7d9b7",
      "name": "Get account_id"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $json.creative.effective_object_story_id }}/?fields=message,picture,full_picture,attachments",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n    \"Authorization\": \"Bearer {{$json.access_token}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2460,
        -40
      ],
      "id": "cd5f2471-3f25-4cd3-b1fe-f0094c8b14e6",
      "name": "Get Attachements"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appwm4UZbaXu66zac",
          "mode": "list",
          "cachedResultName": "Facebook Ads Research",
          "cachedResultUrl": "https://airtable.com/appwm4UZbaXu66zac"
        },
        "table": {
          "__rl": true,
          "value": "tblupA5NH2eKpej5w",
          "mode": "list",
          "cachedResultName": "Ad per Ad Account",
          "cachedResultUrl": "https://airtable.com/appwm4UZbaXu66zac/tblupA5NH2eKpej5w"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "image": "=[\n      {\n        \"url\": \"{{ $json.full_picture }}\"\n      }\n    ]",
            "ad_name": "={{ $('Merge5').item.json.ad_name }}",
            "account_id": "={{ $('Merge5').item.json.account_id }}",
            "creative_id": "={{ $('Merge5').item.json.creative.id }}",
            "ad_text": "={{ $('Merge5').item.json.creative.body || \"\" }}",
            "ad_title": "={{ $('Merge5').item.json.creative.title || \"\"}}",
            "video": "[]",
            "brand": "={{ [$json.brand_name] }}",
            "post_link": "={{ $json.attachments.data[0].target.url }}",
            "ad_id": "={{ $json.ad_id }}"
          },
          "matchingColumns": [
            "ad_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ad_id",
              "displayName": "ad_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad_name",
              "displayName": "ad_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "creative_id",
              "displayName": "creative_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad_text",
              "displayName": "ad_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad_title",
              "displayName": "ad_title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video",
              "displayName": "video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad per account",
              "displayName": "ad per account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "CORKCICLE",
                  "value": "CORKCICLE"
                },
                {
                  "name": "Reggie",
                  "value": "Reggie"
                },
                {
                  "name": "BlueChew",
                  "value": "BlueChew"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "post_link",
              "displayName": "post_link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Angle",
              "displayName": "Angle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Angle Type",
              "displayName": "Angle Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Use-Case/Activity-Based Angle",
                  "value": "Use-Case/Activity-Based Angle"
                },
                {
                  "name": "Benefit-Based Angle",
                  "value": "Benefit-Based Angle"
                },
                {
                  "name": "Problem-Based Angle",
                  "value": "Problem-Based Angle"
                },
                {
                  "name": "Emotional Appeal Angle",
                  "value": "Emotional Appeal Angle"
                },
                {
                  "name": "Feature-Based Angle",
                  "value": "Feature-Based Angle"
                },
                {
                  "name": "Urgency/Promotional Angle",
                  "value": "Urgency/Promotional Angle"
                },
                {
                  "name": "Social Proof Angle",
                  "value": "Social Proof Angle"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Explanation",
              "displayName": "Explanation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "comment 2",
              "displayName": "comment 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "brand-message-angel",
              "displayName": "brand-message-angel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand 12",
              "displayName": "Brand 12",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -540,
        80
      ],
      "id": "ada4d29c-8c73-4a7e-9ac6-481aff426974",
      "name": "Airtable2",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "zKI4T9icngPEPFoi",
          "name": "Airtable Personal Access Token account 7"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        420,
        300
      ],
      "id": "00cb7e14-1ca2-4138-b60e-14cf83e79e45",
      "name": "Merge2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6380,
        320
      ],
      "id": "1466a8e6-f4a7-4769-b457-73e00ec1e7c1",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1twYuXkSbsuNc6Vv",
          "mode": "list",
          "cachedResultName": "Facebook Ad Analysis Last"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        300
      ],
      "id": "7355d2d1-2591-4288-b3de-154fce86d939",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<script>window.close()</script>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -6360,
        -100
      ],
      "id": "826a9245-5056-48e1-930d-28bf9e43ce46",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "id": "c1910db5-b6e9-4509-8a0d-d38367cb2f92",
      "name": "Aggregate2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -6280,
        500
      ],
      "id": "85140132-9720-46f1-abea-9864fb63c55b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/me/adaccounts",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n\"Authorization\":\"Bearer EAAQXxfUy0jUBOxJvbP7GSLNz8xKVAJMchhhiFQvw2SoROi0Vb3EwuVKuKnzzGzncMjWtNvzKvSmV2n5QZAlNR5FnZCO7ELydkycAXXygjZAKX9bWaMFTgjkCeHzjbF4iIy5J2VhNfsHAzZCYLhTEZCZBBPmZCCg1zPcPyNSIgLT0Ww2b1AHoWEfMcFKFVmcXvpeVwZDZD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5840,
        560
      ],
      "id": "76c46102-04c5-412a-8f25-a6d812340d43",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.map(account => {\n    return { json: { adAccountId: account.id } }; // Create an array of ad account IDs\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5500,
        560
      ],
      "id": "dca2ea61-a70d-4b18-b9a5-7ea1c9cf7045",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json.paging.next }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n\"Authorization\":\"Bearer EAAQXxfUy0jUBOxJvbP7GSLNz8xKVAJMchhhiFQvw2SoROi0Vb3EwuVKuKnzzGzncMjWtNvzKvSmV2n5QZAlNR5FnZCO7ELydkycAXXygjZAKX9bWaMFTgjkCeHzjbF4iIy5J2VhNfsHAzZCYLhTEZCZBBPmZCCg1zPcPyNSIgLT0Ww2b1AHoWEfMcFKFVmcXvpeVwZDZD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5720,
        840
      ],
      "id": "cf4ac4a9-6722-456f-bf83-1670f4e32241",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5540,
        840
      ],
      "id": "79a92cec-28ea-49be-b162-28f79b631fc3",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -5180,
        580
      ],
      "id": "bc8a7a1c-6d88-4673-a99d-1e909385c68d",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.map(account => {\n    return { json: { adAccountId: account.id } }; // Create an array of ad account IDs\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5300,
        840
      ],
      "id": "e9a7b09c-1448-4094-ada7-a4e343f2c217",
      "name": "Code9"
    },
    {
      "parameters": {
        "path": "c0833bb1-88a3-415e-86e4-c5bd94eed396",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6380,
        80
      ],
      "id": "89f27ea1-e80b-4504-ab0b-57130c55a86e",
      "name": "Webhook",
      "webhookId": "c0833bb1-88a3-415e-86e4-c5bd94eed396",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4960,
        580
      ],
      "id": "3e14ea88-9e5d-4321-978c-a7475856b91f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4100,
        660
      ],
      "id": "bb397335-5f00-435d-bbfb-26eca486112e",
      "name": "Wait",
      "webhookId": "31dae35d-e245-4163-b183-10f63ed896fc"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $json.effective_object_story_id }}/comments?date_preset=last_90d&limit=1000",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n    \"Authorization\": \"Bearer {{$json.access_token}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2620,
        380
      ],
      "id": "6d28fd81-ce2d-4169-ac59-62e3b03ca738",
      "name": "Get comments3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aab029a9-ff40-476f-96c3-a5653c2ddbab",
              "name": "ad_id",
              "value": "={{ $json.ad_id }}",
              "type": "string"
            },
            {
              "id": "0bde47a6-9506-43e4-80bb-a2f4add9e482",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "283548b5-a10d-4c63-96e5-e0893abfcf3a",
              "name": "brand_name",
              "value": "={{ $json.brand_name }}",
              "type": "string"
            },
            {
              "id": "f28b15b5-8ed0-4d05-825d-dc648e8863cb",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "64f392fb-d6f6-4034-a60c-e83f706c72ff",
              "name": "effective_object_story_id",
              "value": "={{ $json.creative.effective_object_story_id }}",
              "type": "string"
            },
            {
              "id": "336b441e-347f-4418-9498-20bdb0029151",
              "name": "body",
              "value": "={{ $json.creative.body }}",
              "type": "string"
            },
            {
              "id": "2784388a-5cce-4f7f-9df6-87aa782a1932",
              "name": "title",
              "value": "={{ $json.creative.title }}",
              "type": "string"
            },
            {
              "id": "aedcfd62-c572-4f67-868b-7835596f80fb",
              "name": "ad_name",
              "value": "={{ $json.ad_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        560
      ],
      "id": "8960db91-e0f8-4d4f-9791-b5756f92d7e8",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1620,
        480
      ],
      "id": "754f3944-59ec-4f50-879e-8563c62c3341",
      "name": "Merge13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c002f6d5-a7b1-4f42-b29c-eebd6ee9baf8",
              "name": "comment",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "1265ad78-9b15-4d0f-adab-6c97a502b652",
              "name": "ad_id",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2260,
        380
      ],
      "id": "2c4c24be-3672-4508-b1b9-8d7c2cf8231d",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1400,
        480
      ],
      "id": "95b3a634-903c-420e-ad08-55efb4866f96",
      "name": "Split Out8"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1840,
        600
      ],
      "id": "439f1a3b-5c74-48b2-a2b6-8bdf92b37883",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1860,
        380
      ],
      "id": "09919222-0fca-44a9-b924-95c65a175072",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1060,
        720
      ],
      "id": "61800590-cb56-43c1-9023-1a80c18c8c69",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "comment",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -840,
        720
      ],
      "id": "1846c18f-4251-4f39-8689-074e95408f88",
      "name": "Split Out9",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2fc99ff2-203a-4090-ba49-cca39a0f3cab",
              "leftValue": "={{ $json.comment.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -700,
        400
      ],
      "id": "fa1c328b-f796-4a87-b307-3fae259b0113",
      "name": "If3"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appwm4UZbaXu66zac",
          "mode": "list",
          "cachedResultName": "Facebook Ads Research",
          "cachedResultUrl": "https://airtable.com/appwm4UZbaXu66zac"
        },
        "table": {
          "__rl": true,
          "value": "tbl3nJr60faWbnLIc",
          "mode": "list",
          "cachedResultName": "comment",
          "cachedResultUrl": "https://airtable.com/appwm4UZbaXu66zac/tbl3nJr60faWbnLIc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "comment_id": "={{ $json.comment.id }}",
            "created_time": "={{ $json.comment.created_time }}",
            "ad_id": "={{ [$json.ad_id] }}",
            "message": "={{ $json.comment.message }}"
          },
          "matchingColumns": [
            "comment_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "comment_id",
              "displayName": "comment_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_time",
              "displayName": "created_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad_id",
              "displayName": "ad_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ad_name (from ad_id)",
              "displayName": "ad_name (from ad_id)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "image (from ad_id)",
              "displayName": "image (from ad_id)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "video (from ad_id)",
              "displayName": "video (from ad_id)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "brand (from ad_id)",
              "displayName": "brand (from ad_id)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -380,
        420
      ],
      "id": "7e25cad3-b92b-4c98-8641-1cbe61633cde",
      "name": "Airtable6",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "zKI4T9icngPEPFoi",
          "name": "Airtable Personal Access Token account 7"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $json.ad_id }}?fields=account_id,created_time",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        -100
      ],
      "id": "73c8f1f8-ba2b-4445-8e57-8e445b449b95",
      "name": "Ad created date",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9JbrMSn6iDmMpBaq",
          "name": "Facebook Ads Nico"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $json.ad_id }}?fields=account_id,created_time",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        120
      ],
      "id": "0eec518b-0369-4d55-a8e3-f08ed9593c56",
      "name": "Ad created date1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9JbrMSn6iDmMpBaq",
          "name": "Facebook Ads Nico"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/me",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n\"Authorization\":\"Bearer EAAQXxfUy0jUBOxJvbP7GSLNz8xKVAJMchhhiFQvw2SoROi0Vb3EwuVKuKnzzGzncMjWtNvzKvSmV2n5QZAlNR5FnZCO7ELydkycAXXygjZAKX9bWaMFTgjkCeHzjbF4iIy5J2VhNfsHAzZCYLhTEZCZBBPmZCCg1zPcPyNSIgLT0Ww2b1AHoWEfMcFKFVmcXvpeVwZDZD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6140,
        -500
      ],
      "id": "3d14f76d-6d7e-4645-81c1-421bc164b84f",
      "name": "Get All Allowed Accounts1"
    }
  ],
  "connections": {
    "Ads in single Ad Account3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get account_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Allowed Accounts": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        []
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Ad created date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ad created date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get account_id": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachements": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Allowed Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ads in single Ad Account3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get comments3": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Get comments3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge13": {
      "main": [
        [
          {
            "node": "Split Out8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out8": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Merge13",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Merge13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Split Out9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out9": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Airtable6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable6": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ad created date": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ad created date1": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3c2593d8-a72d-4f92-9f98-5676061605ab",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-04-24T20:46:41.193Z",
      "updatedAt": "2025-04-24T20:46:41.193Z",
      "role": "workflow:owner",
      "workflowId": "0SmRgoHI9W2j8oUE",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}