repo/workflows/4U326h0FgIzKXx3B.json
{
  "createdAt": "2025-06-25T07:05:43.825Z",
  "updatedAt": "2025-06-25T07:48:16.912Z",
  "id": "4U326h0FgIzKXx3B",
  "name": "georgiadogs",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tuJWiVqX14TqBHn0",
          "mode": "list",
          "cachedResultName": "influxermerch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "direction": "next",
            "_data": "routes/($locale).athletes._index",
            "cursor": "={{ $json.athletes.pageInfo.endCursor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "_data",
              "displayName": "_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        -40
      ],
      "id": "daf45ca7-15ab-4615-be88-35eba5c33c53",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "path": "8a89b924-6c23-458d-8ac5-a446f44a6183",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1540,
        -20
      ],
      "id": "d242dd5b-cf98-47ba-81f6-6359e8aa73ab",
      "name": "Webhook",
      "webhookId": "8a89b924-6c23-458d-8ac5-a446f44a6183",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1540,
        -280
      ],
      "id": "a04e9161-ee83-4859-b0ef-8de54cbcdfa1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"lists\": [\n    \"baseball\",\"mens-basketball\",\"mens-golf\",\"cross-country\",\"mens-tennis\",\"football\",\"msd\",\"track-and-field\",\"womens-basketball\",\"equestrian\",\"womens-soccer\",\"softball\",\"womens-tennis\",\"wsd\",\"womens-gymnastics\",\"womens-volleyball\",\"womens-golf\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -280
      ],
      "id": "1a6ce561-54bc-4408-ae4e-3eccb50e9ed7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://georgiadogs.com/sports/{{ $json.lists }}/roster",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        -280
      ],
      "id": "c8bd88d1-89e7-401a-9c7f-a3724b576a8d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1020,
        -280
      ],
      "id": "26702835-c17e-4f8f-a44c-448b29ebd563",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://clarkatlantasports.com/{{ $json.value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -280
      ],
      "id": "45ac77f8-2bbf-4d3b-99ca-92a91636a52c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const html = items[0].json.data;\nconst rows = html.match(/<tr>(.*?)<\\/tr>/gs);\n\nconst players = [];\n\nif (rows) {\n  for (const row of rows) {\n    const getCell = (cls) => {\n      const match = row.match(new RegExp(`<td class=\".*?${cls}.*?\">(.*?)<\\\\/td>`, 's'));\n      return match ? match[1].replace(/<[^>]*>/g, '').trim() : null;\n    };\n\n    const nameMatch = row.match(/<td class=\".*?sidearm-table-player-name.*?\">.*?<a .*?>(.*?)<\\/a>/s);\n    const name = nameMatch ? nameMatch[1].trim() : null;\n\n    const imgMatch = row.match(/<img[^>]*data-src=['\"]([^'\"]+)['\"]/);\n    const image = imgMatch ? `https://asugoldenrams.com${imgMatch[1]}` : null;\n\n    const player = {\n      name,\n      position: getCell('rp_position_short'),\n      number: getCell('roster_jerseynum'),\n      height: getCell('height'),\n      weight: getCell('rp_weight'),\n      class: getCell('roster_class'),\n      hometown: getCell('player_hometown'),\n      school: getCell('player_previous_school'),\n      image,\n    };\n\n    // Remove null fields\n    const cleaned = Object.fromEntries(\n      Object.entries(player).filter(([_, value]) => value !== null)\n    );\n\n    players.push(cleaned);\n  }\n}\n\nreturn players.map(player => ({ json: player }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -280
      ],
      "id": "44ecc5e7-afc5-4195-8ef3-b63efb613e3e",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o1My1AmwRjmB7HB92DR2oWeQVcWBHgsrwFPSZARFHVg",
          "mode": "list",
          "cachedResultName": "georgiadogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o1My1AmwRjmB7HB92DR2oWeQVcWBHgsrwFPSZARFHVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o1My1AmwRjmB7HB92DR2oWeQVcWBHgsrwFPSZARFHVg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.name }}",
            "SPORT": "={{ $json.sport }}",
            "SCHOOL": "={{ $json.school }}",
            "HOMETOWN": "={{ $json.hometown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SPORT",
              "displayName": "SPORT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCHOOL",
              "displayName": "SCHOOL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HOMETOWN",
              "displayName": "HOMETOWN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        740,
        -1740
      ],
      "id": "539dac34-1fca-43af-a12c-37e2c0be657c",
      "name": "Google Sheets1",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        200,
        -280
      ],
      "id": "c1bd5428-cabd-4ada-9f84-ff2127caa9db",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA",
          "mode": "list",
          "cachedResultName": "georgiadogs Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "={{ $json.rosterValues }}"
          },
          "matchingColumns": [
            "path"
          ],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -20,
        -280
      ],
      "id": "4fa46466-5533-4dec-9b4f-94aeae7a009b",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cce629d7-c69f-4f44-b554-587872a888ae",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -800,
        -280
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -20,
        -20
      ],
      "id": "52cb55ef-f1af-42c7-afcc-6dbc5f3ebc3d",
      "name": "Limit"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        -1380
      ],
      "id": "95ff0ec9-ad79-4481-bc3b-90aa7d3354b2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA",
          "mode": "list",
          "cachedResultName": "georgiadogs Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -380,
        -1380
      ],
      "id": "b9ca6869-2d69-4f94-9da7-17dd626ae51d",
      "name": "Google Sheets2",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -160,
        -1380
      ],
      "id": "b215dd70-6ec1-4767-bb2c-0b07b808ab74",
      "name": "Limit2"
    },
    {
      "parameters": {
        "url": "=https://georgiadogs.com/{{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -1380
      ],
      "id": "20ea7c21-7eda-4c8a-bdbd-2aca3ccd8bb6",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA",
          "mode": "list",
          "cachedResultName": "georgiadogs Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AzYMNJUstD_vfSDQgBcMWtNs8aVd93ICfhsv-nFV4JA/edit#gid=0"
        },
        "startIndex": "={{ $('Limit2').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        600,
        -1320
      ],
      "id": "9e5768da-76cd-43e4-bfcc-45393901f3d6",
      "name": "Google Sheets3",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "rosterValues",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -180,
        -420
      ],
      "id": "19daed37-9ed3-4c68-8469-cce581b76a47",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "players",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        -1640
      ],
      "id": "9cd67d57-910c-4fbd-b3db-a6ca017dc7fa",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4U326h0FgIzKXx3B",
          "mode": "list",
          "cachedResultName": "georgiadogs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        -1320
      ],
      "id": "6c9271c8-2147-4f57-9bfd-52e44e6c230a",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "path": "d0c2311b-3b3a-4133-8bd1-1a7c9f1f9cb1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -660,
        -1080
      ],
      "id": "90af96b8-5b90-4d99-8a38-b7b3712e0100",
      "name": "Webhook2",
      "webhookId": "d0c2311b-3b3a-4133-8bd1-1a7c9f1f9cb1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const htmlContent = item.json.html || item.json.content || item.json.data;\n\n  if (!htmlContent) {\n    item.json.rosterValues = [];\n    continue;\n  }\n\n  const sports = [\n    \"baseball\",\n    \"mens-basketball\",\n    \"mens-golf\",\n    \"cross-country\",\n    \"mens-tennis\",\n    \"football\",\n    \"msd\",\n    \"track-and-field\",\n    \"womens-basketball\",\n    \"equestrian\",\n    \"womens-soccer\",\n    \"softball\",\n    \"womens-tennis\",\n    \"wsd\",\n    \"womens-gymnastics\",\n    \"womens-volleyball\",\n    \"womens-golf\"\n  ];\n\n  const rosterValues = new Set();\n  const lowerHtml = htmlContent.toLowerCase();\n\n  // Match all /sports/sport/roster links (with or without year)\n  const urlRegex = /\\/sports\\/([a-z-]+)\\/roster(?:\\/\\d{4}(?:-\\d{2})?)?/g;\n  let match;\n\n  while ((match = urlRegex.exec(lowerHtml)) !== null) {\n    const sport = match[1];\n    const url = match[0];\n\n    if (sports.includes(sport) && !url.includes(\"/coaches\")) {\n      rosterValues.add(url);\n    }\n  }\n\n  // Try to extract year from <title> like: <title>2025 Baseball Roster - ...</title>\n  const titleMatch = lowerHtml.match(/<title>(\\d{4})[^<]*roster/i);\n  const detectedYear = titleMatch ? titleMatch[1] : null;\n\n  // Attach year if needed (e.g., make /sports/baseball/roster → /sports/baseball/roster/2025)\n  const finalValues = Array.from(rosterValues).map(url => {\n    if (detectedYear && !/\\d{4}/.test(url)) {\n      return `${url}/${detectedYear}`;\n    }\n    return url;\n  });\n\n  item.json = {\n    rosterValues: finalValues\n  };\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        -280
      ],
      "id": "f5e6d040-a6d9-4dbd-80b0-f033ae195e87",
      "name": "Code3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs",
          "mode": "list",
          "cachedResultName": "asugoldenrams",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.name }}",
            "SPORT": "={{ $json.sport }}",
            "SCHOOL": "={{ $json.school }}",
            "HOMETOWN": "={{ $json.hometown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SPORT",
              "displayName": "SPORT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCHOOL",
              "displayName": "SCHOOL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HOMETOWN",
              "displayName": "HOMETOWN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2720,
        -1140
      ],
      "id": "36550cc1-7cbe-46d9-9b22-3f1950dacf6d",
      "name": "Google Sheets4"
    },
    {
      "parameters": {
        "url": "=https://ungathletics.com/sports/{{ $json.lists }}/roster",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -760
      ],
      "id": "fcfd2eaa-b1c0-433f-a706-22ca26176e84",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4",
          "mode": "list",
          "cachedResultName": "Linkes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4/edit#gid=0"
        },
        "startIndex": "={{ $('Limit3').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2580,
        -720
      ],
      "id": "62e15770-47b4-4314-905f-7a08485bddf0",
      "name": "Google Sheets6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ufPTZ6E78j6I48HC",
          "mode": "list",
          "cachedResultName": "asugoldenrams"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "_data",
              "displayName": "_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2940,
        -720
      ],
      "id": "8ba1fcdb-8f9f-4a0a-b7fa-1a23c425a95f",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"lists\": [\n    \"baseball\",\"mens-basketball\",\"football\",\"track-and-field\",\"womens-basketball\",\"womens-cross-country\", \"womens-soccer\",\"softball\",\"tennis\",\"womens-track-and-field\",\"womens-volleyball\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        -760
      ],
      "id": "c6ccf7ca-ed4a-4e0e-8dd7-d9a952f688be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1700,
        -760
      ],
      "id": "a210ae2f-0110-47d3-888f-6bcd9140782f",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "91ffed39-a494-4359-9133-eaa1b34099b9",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1840,
        -760
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $json[\"data\"] || \"\";\nconst output = [];\n\n// Helper: safely get a matched regex group and trim\nfunction safeMatch(html, regex, group = 1) {\n    const match = html.match(regex);\n    return match && match[group] ? decodeHtml(match[group].trim()) : null;\n}\n\n// Helper: decode HTML entities like &#39; → '\nfunction decodeHtml(str) {\n    return str.replace(/&#(\\d+);/g, (_, dec) => String.fromCharCode(dec))\n              .replace(/&quot;/g, '\"')\n              .replace(/&amp;/g, '&')\n              .replace(/&lt;/g, '<')\n              .replace(/&gt;/g, '>')\n              .replace(/&#x27;/g, \"'\")\n              .replace(/&apos;/g, \"'\");\n}\n\nlet year = \"UnknownYear\";\nlet sport = null;\n\n// Try <h2> tag\nconst headerMatch = html.match(/<h2[^>]*>(\\d{4}) ([^<]+?) Roster<\\/h2>/);\nif (headerMatch && headerMatch[1] && headerMatch[2]) {\n    year = headerMatch[1];\n    sport = decodeHtml(headerMatch[2].trim());\n}\n\n// Try meta tag\nif (!sport) {\n    const metaMatch = html.match(/<meta[^>]+content=\"(\\d{4})-?\\d{0,2}? ([^\"]+?) Roster\"/);\n    if (metaMatch && metaMatch[1] && metaMatch[2]) {\n        year = metaMatch[1];\n        sport = decodeHtml(metaMatch[2].trim());\n    }\n}\n\n// Try JS variable\nif (!sport) {\n    sport = safeMatch(html, /associated_sport\\s*=\\s*{[^}]*\"title\"\\s*:\\s*\"([^\"]+?)\"/);\n}\n\n// Try from HTML class\nif (!sport) {\n    const code = safeMatch(html, /<html[^>]+class=\"[^\"]*sport\\s+([a-z0-9\\-]+)[^\"]*\"/i);\n    const codeToSportMap = {\n        // Men's\n        \"baseball\": \"Baseball\",\n        \"bsb\": \"Baseball\",\n        \"mens-basketball\": \"Men's Basketball\",\n        \"mbkb\": \"Men's Basketball\",\n        \"mens-cross-country\": \"Men's Cross Country\",\n        \"mxc\": \"Men's Cross Country\",\n        \"mens-soccer\": \"Men's Soccer\",\n        \"msoc\": \"Men's Soccer\",\n        \"mens-golf\": \"Men's Golf\",\n        \"mgolf\": \"Men's Golf\",\n        \"mens-lacrosse\": \"Men's Lacrosse\",\n        \"mlax\": \"Men's Lacrosse\",\n        \"mens-swimming\": \"Men's Swimming\",\n        \"mens-track-and-field\": \"Men's Track and Field\",\n        \"mtrack\": \"Men's Track and Field\",\n        \"mens-tennis\": \"Men's Tennis\",\n        \"mten\": \"Men's Tennis\",\n\n        // Women's\n        \"womens-basketball\": \"Women's Basketball\",\n        \"wbkb\": \"Women's Basketball\",\n        \"womens-cross-country\": \"Women's Cross Country\",\n        \"wxc\": \"Women's Cross Country\",\n        \"womens-soccer\": \"Women's Soccer\",\n        \"wsoc\": \"Women's Soccer\",\n        \"womens-golf\": \"Women's Golf\",\n        \"wgolf\": \"Women's Golf\",\n        \"womens-tennis\": \"Women's Tennis\",\n        \"wten\": \"Women's Tennis\",\n        \"womens-track-and-field\": \"Women's Track and Field\",\n        \"wtrack\": \"Women's Track and Field\",\n        \"womens-volleyball\": \"Women's Volleyball\",\n        \"wvball\": \"Women's Volleyball\",\n        \"womens-lacrosse\": \"Women's Lacrosse\",\n        \"wlax\": \"Women's Lacrosse\",\n        \"womens-swimming\": \"Women's Swimming\",\n\n        // Other sports\n        \"softball\": \"Softball\",\n        \"sball\": \"Softball\",\n        \"tennis\": \"Tennis\",\n        \"track-and-field\": \"Track and Field\",\n        \"xc\": \"Cross Country\",\n        \"football\": \"Football\",\n        \"cheerleading\": \"Cheerleading\",\n        \"equestrian\": \"Equestrian\",\n        \"beach-volleyball\": \"Beach Volleyball\"\n    };\n\n    if (code) {\n        const normalized = code.toLowerCase();\n        sport = codeToSportMap[normalized] || normalized;\n    }\n}\n\n// Fallback\nif (!sport) sport = \"UnknownSport\";\n\n// Extract all player blocks\nconst playerBlocks = html.match(/<li class=\"sidearm-roster-player\"[\\s\\S]*?<\\/li>/g) || [];\n\nfor (const block of playerBlocks) {\n    const name = safeMatch(block, /aria-label=\"([^\"]+?) - View Full Bio\"/);\n    const academicYear = safeMatch(block, /<span class=\"sidearm-roster-player-academic-year[^>]*?\">([^<]+)<\\/span>/);\n    const prevSchool = safeMatch(block, /<span class=\"sidearm-roster-player-previous-school\">([^<]+)<\\/span>/);\n    const highSchool = safeMatch(block, /<span class=\"sidearm-roster-player-highschool\">([^<]+)<\\/span>/);\n    const hometown = safeMatch(block, /<span class=\"sidearm-roster-player-hometown\">([^<]+)<\\/span>/);\n\n    const school = prevSchool || highSchool;\n\n    if (name) {\n        const player = {\n            name,\n            sport,\n            rosterYear: parseInt(year),\n            academicYear,\n            school,\n            hometown,\n        };\n\n        const cleaned = Object.fromEntries(\n            Object.entries(player).filter(([_, value]) => value !== null && value !== \"\")\n        );\n\n        if (Object.keys(cleaned).length > 1) {\n            output.push(cleaned);\n        }\n    }\n}\n\nreturn [{ json: { players: output } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -1380
      ],
      "id": "b640df69-9e61-4ca0-b07e-ec0f1e13f20b",
      "name": "Code4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        -1180
      ],
      "id": "572f11f3-5d39-436f-b35f-6f7728a4ba4c",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d2602ef0-22a7-4ef6-a90e-ad76d50323a4",
  "triggerCount": 2,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-06-25T07:05:43.825Z",
      "updatedAt": "2025-06-25T07:05:43.825Z",
      "role": "workflow:owner",
      "workflowId": "4U326h0FgIzKXx3B",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}