repo/workflows/7euzhyVBNQFC5iQj.json
{
  "createdAt": "2025-08-24T06:39:49.527Z",
  "updatedAt": "2025-09-06T06:32:20.633Z",
  "id": "7euzhyVBNQFC5iQj",
  "name": "Hakim Bot - Google API",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a cautious, helpful medical information assistant.\n- Provide general information only, not a diagnosis or treatment plan.\n- Encourage the user to consult a healthcare professional for personal advice.\n- If the message implies an emergency (e.g., severe chest pain, trouble breathing, severe bleeding, stroke signs), tell them to call their local emergency number immediately.\n- Be concise and structured (use short paragraphs or bullet points where helpful).\n- Avoid definitive prescriptions, dosing, or unverified claims.",
              "role": "system"
            },
            {
              "content": "=The user asked this medical question. \nPlease answer in clear English:\n\n{{ $json.translatedText }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        320
      ],
      "id": "3c1bd83d-9a55-4c94-9a43-20991b3fd810",
      "name": "Medical Assistant",
      "credentials": {
        "openAiApi": {
          "id": "P97bW4SECej7SdA6",
          "name": "don't use this eric"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatId }}",
        "text": "={{ $json.translatedText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        128
      ],
      "id": "35e86b25-6ddb-47d2-a584-e25ea51a4cb5",
      "name": "Telegram",
      "webhookId": "a39b6440-a90d-4a3a-9c98-f622b7caa89f",
      "credentials": {
        "telegramApi": {
          "id": "humUyuIoeEmp3gOA",
          "name": "Doctor Telegram Api Token"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "textMessage"
            },
            {
              "name": "chatId",
              "type": "number"
            },
            {
              "name": "language"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        320
      ],
      "id": "7dcb7a7d-cfd1-4677-8e6c-14be55075363",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.language }}",
                    "rightValue": "=Oromifa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "066dea88-1eda-4664-9d10-5bdb62f241e5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5ddf9ccd-3f08-4168-9173-ec751c4e3494",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.language }}",
                    "rightValue": "=Amharic",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be8492b1-fd13-44b4-bce1-ffa54e455d60",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.language }}",
                    "rightValue": "=Tigrinya",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c365f1c-1c8c-4dd3-95f3-7e2a0351ff1a",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.language }}",
                    "rightValue": "=Somali",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be67ff05-317a-48ba-9550-7e422f89757d",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.language }}",
                    "rightValue": "=English",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        560,
        272
      ],
      "id": "0105716d-6ccd-44e0-9b4f-eb6e7189f862",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatId }}",
        "text": "={{ $json.translatedText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -64
      ],
      "id": "b6c7a137-b81b-4e0c-9f2e-385bc8221f34",
      "name": "Telegram1",
      "webhookId": "a39b6440-a90d-4a3a-9c98-f622b7caa89f",
      "credentials": {
        "telegramApi": {
          "id": "humUyuIoeEmp3gOA",
          "name": "Doctor Telegram Api Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatId }}",
        "text": "={{ $json.translatedText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        320
      ],
      "id": "7cf9a1ae-702e-4b9a-b13c-9b5165a3bf82",
      "name": "Telegram2",
      "webhookId": "a39b6440-a90d-4a3a-9c98-f622b7caa89f",
      "credentials": {
        "telegramApi": {
          "id": "humUyuIoeEmp3gOA",
          "name": "Doctor Telegram Api Token"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "translateTo": "om"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        784,
        -64
      ],
      "id": "61a48067-da71-4b6a-96dd-82c6d33b7797",
      "name": "To Oromifa",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "G92lI5o4NAIYedBp",
          "name": "Ambo"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "translateTo": "am"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        784,
        128
      ],
      "id": "c0ba5f4f-4d29-4fcf-b69a-98c16f37ac18",
      "name": "To Amharic",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "G92lI5o4NAIYedBp",
          "name": "Ambo"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "translateTo": "ti"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        784,
        320
      ],
      "id": "c087d187-1354-4921-b48b-e1b95a45819b",
      "name": "To Tigrinya",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "G92lI5o4NAIYedBp",
          "name": "Ambo"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatId }}",
        "text": "={{ $json.translatedText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        512
      ],
      "id": "d98c93f8-b588-4ad6-b9cc-799fb93c05bd",
      "name": "Telegram3",
      "webhookId": "a39b6440-a90d-4a3a-9c98-f622b7caa89f",
      "credentials": {
        "telegramApi": {
          "id": "humUyuIoeEmp3gOA",
          "name": "Doctor Telegram Api Token"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "translateTo": "so"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        784,
        512
      ],
      "id": "66a737ad-5307-468e-9e92-7bc80a7871ee",
      "name": "To Somali",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "G92lI5o4NAIYedBp",
          "name": "Ambo"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.textMessage }}",
        "translateTo": "en"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        -16,
        320
      ],
      "id": "e5352811-9641-47db-88d4-978b469d44d4",
      "name": "Translate to English",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "G92lI5o4NAIYedBp",
          "name": "Ambo"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatId }}",
        "text": "={{ $json.translatedText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        704
      ],
      "id": "d4d6dda8-bdd5-42cd-ab5f-c531ceb69f4a",
      "name": "Telegram4",
      "webhookId": "a39b6440-a90d-4a3a-9c98-f622b7caa89f",
      "credentials": {
        "telegramApi": {
          "id": "humUyuIoeEmp3gOA",
          "name": "Doctor Telegram Api Token"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "translateTo": "en"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        784,
        704
      ],
      "id": "311b607f-5e25-462a-8854-e0abe1ade58e",
      "name": "To English",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "G92lI5o4NAIYedBp",
          "name": "Ambo"
        }
      }
    }
  ],
  "connections": {
    "Medical Assistant": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Translate to English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "To Oromifa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "To Amharic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "To Tigrinya",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "To Somali",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "To English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Oromifa": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Amharic": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Tigrinya": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Somali": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate to English": {
      "main": [
        [
          {
            "node": "Medical Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To English": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "409ade79-93de-4021-96e8-b1d362c1ef72",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-08-24T06:39:49.527Z",
      "updatedAt": "2025-08-24T06:39:49.527Z",
      "role": "workflow:owner",
      "workflowId": "7euzhyVBNQFC5iQj",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}