repo/workflows/8S5dSlzaL3fjAdy8.json
{
  "createdAt": "2025-09-17T11:05:26.820Z",
  "updatedAt": "2025-09-17T11:09:20.362Z",
  "id": "8S5dSlzaL3fjAdy8",
  "name": "Loop over Binary",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "7dc2bef9-c76c-49e3-a577-711283b8a38d",
        "formTitle": "Real-Estate Automation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Images",
              "fieldType": "file",
              "acceptFileTypes": ".jpg, .jpeg, .png, .webp"
            },
            {
              "fieldLabel": "Watermark",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .jpeg, .png, .webp"
            }
          ]
        },
        "options": {}
      },
      "id": "c11fb31a-a516-4a5c-879f-7cf6bab41d9c",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -768,
        -24
      ],
      "webhookId": "7dc2bef9-c76c-49e3-a577-711283b8a38d"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.last().json;\nconst binaryData = $input.last().binary;\nconst watermark = $input.last().binary.Watermark || null\n\nlet output = []\n\nObject.keys(binaryData).filter(image => image.indexOf(\"Images\") >= 0).forEach(imageLabel => {\n  const part = {\n    json: data,\n    binary: { Image: binaryData[imageLabel] }\n  }\n\n  if (watermark) part.binary.Watermark = watermark\n  \n  output.push(part)\n})\n\nreturn output;"
      },
      "id": "1205eeec-5906-44e4-8172-b86c6aa951a0",
      "name": "Split Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -24
      ]
    },
    {
      "parameters": {
        "operation": "composite",
        "dataPropertyName": "Image",
        "dataPropertyNameComposite": "Watermark",
        "options": {}
      },
      "id": "908ee6d5-69ca-4061-b336-40a11305870f",
      "name": "Apply Watermark",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        128,
        -168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2e89cef-0e35-4c01-8ed0-5d0cb8ecda9e",
              "leftValue": "={{ $binary.Watermark }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3eeaba56-fcdb-481a-b5d7-058c743d3226",
      "name": "If watermark present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -240
      ]
    },
    {
      "parameters": {},
      "id": "1c13729c-32d9-4f28-926e-f74b0a85a876",
      "name": "No watermark, no compose",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        128,
        24
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        -24
      ],
      "id": "73c19bf3-2942-49b8-afce-1e40d00b80c4",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Split Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If watermark present": {
      "main": [
        [
          {
            "node": "Apply Watermark",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No watermark, no compose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If watermark present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Watermark": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No watermark, no compose": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "44f8013c-58d3-4ee0-b1ce-b65778e818a3",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-17T11:05:26.820Z",
      "updatedAt": "2025-09-17T11:05:26.820Z",
      "role": "workflow:owner",
      "workflowId": "8S5dSlzaL3fjAdy8",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}