repo/workflows/9VBlRwfRIBTIUqQs.json
{
  "createdAt": "2025-02-25T19:36:49.428Z",
  "updatedAt": "2025-02-25T23:23:16.691Z",
  "id": "9VBlRwfRIBTIUqQs",
  "name": "Up work scraper",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/arlusm~upwork-post-details-scraper/run-sync-get-dataset-items?token=apify_api_yzjOS33uCMsHbyvoHwyfWpk8YZHPwZ4q216J",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.webUrls }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        0
      ],
      "id": "9b78fdb1-19d5-46a0-ab33-df39156d68b5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an intelligent Upwork Proposal Writer with deep expertise in crafting persuasive, client-focused proposals. Your goal is to analyze job postings, identify key client needs, and write customized proposals that stand out. You communicate professionally, concisely, and persuasively, focusing on how the freelancer’s skills and experience solve the client’s problem. Every proposal should start with a compelling hook, highlight relevant experience, and include a strong call to action. Avoid generic responses and always tailor the proposal to the specific job posting.\n\n# Don't put any instruction, comments and sugestion to the proposal.\n# Do't raise any issues about \n\n### Given Input\n## Work title: {{ $json.title }}\n## work description:  {{ $json.description }}\n## Skill needed : {{ $json.skills }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        680,
        0
      ],
      "id": "1c1d9f4f-9ed1-4d45-820b-de8fcc42a1bc",
      "name": "OpenAI",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "LECbHwV7WQjNhD2I",
          "name": "OpenAi account "
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4a33607-a489-4382-b30d-3aea83dcb53c",
              "name": "webUrls",
              "value": "=https://www.upwork.com/freelance-jobs/apply/Automated-Communication-Workflow-Developer-Make-com-Telegram-ChatGPT_~021894435096423517256/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "id": "02784641-c168-4ab7-8818-13683f837c7b",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "aed158af-705b-41b0-96d6-a3ff8917abfa",
      "name": "Execute Workflow Trigger"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cb065de8-1e0c-4d70-95ff-58faac44fe28",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-04-29T07:28:32.695Z",
      "updatedAt": "2025-04-29T07:28:32.695Z",
      "role": "workflow:owner",
      "workflowId": "9VBlRwfRIBTIUqQs",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}