repo/workflows/a95ZSYv8sYHfSKqp.json
{
  "createdAt": "2025-06-27T08:12:47.429Z",
  "updatedAt": "2025-07-25T13:42:00.923Z",
  "id": "a95ZSYv8sYHfSKqp",
  "name": "Tax",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "02221e53-74ab-4f31-9eea-f712e5f365a9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.id AS client_id,\n    c.full_name,\n    c.email,\n    f.file_year,\n\n    ff_overpay.field_value AS overpayment_amount,\n    ff_estpay.field_value AS estimated_payments,\n\n    ff_agi.field_value AS adjusted_gross_income,\n    ff_tax.field_value AS total_tax_liability,\n\n    ff_withheld_total.field_value AS total_withheld_taxes,\n    ff_withheld_1099.field_value AS withheld_tax_from_1099,\n    ff_withheld_w2.field_value AS withheld_tax_from_W2,\n    ff_withheld_other.field_value AS withheld_tax_from_other_forms,\n\n    ff_self_employment.field_value AS self_employment_tax\n\nFROM clients c\nJOIN files f ON f.client_id = c.id\nJOIN forms fo ON fo.file_id = f.id\n\n-- Join for overpayment\nJOIN form_categories fc_overpay ON fc_overpay.form_id = fo.id\nJOIN form_fields ff_overpay ON ff_overpay.category_id = fc_overpay.id\n    AND ff_overpay.field_name = 'overpayment_amount'\n\n-- Join for estimated payments\nJOIN form_categories fc_estpay ON fc_estpay.form_id = fo.id\nJOIN form_fields ff_estpay ON ff_estpay.category_id = fc_estpay.id\n    AND ff_estpay.field_name = 'estimated_payments'\n\n-- Join for adjusted gross income\nJOIN form_categories fc_agi ON fc_agi.form_id = fo.id\nJOIN form_fields ff_agi ON ff_agi.category_id = fc_agi.id\n    AND ff_agi.field_name = 'adjusted_gross_income'\n\n-- Join for total tax liability\nJOIN form_categories fc_tax ON fc_tax.form_id = fo.id\nJOIN form_fields ff_tax ON ff_tax.category_id = fc_tax.id\n    AND ff_tax.field_name = 'total_tax'\n\n-- Join for total withholdings\nJOIN form_categories fc_withheld_total ON fc_withheld_total.form_id = fo.id\nJOIN form_fields ff_withheld_total ON ff_withheld_total.category_id = fc_withheld_total.id\n    AND ff_withheld_total.field_name = 'total_withheld_taxes'\n\n-- Individual withholdings\nJOIN form_categories fc_1099 ON fc_1099.form_id = fo.id\nJOIN form_fields ff_withheld_1099 ON ff_withheld_1099.category_id = fc_1099.id\n    AND ff_withheld_1099.field_name = 'withheld_tax_from_1099'\n\nJOIN form_categories fc_w2 ON fc_w2.form_id = fo.id\nJOIN form_fields ff_withheld_w2 ON ff_withheld_w2.category_id = fc_w2.id\n    AND ff_withheld_w2.field_name = 'withheld_tax_from_W2'\n\nJOIN form_categories fc_other ON fc_other.form_id = fo.id\nJOIN form_fields ff_withheld_other ON ff_withheld_other.category_id = fc_other.id\n    AND ff_withheld_other.field_name = 'withheld_tax_from_other_forms'\n\n-- Join for self-employment tax\nJOIN form_categories fc_se ON fc_se.form_id = fo.id\nJOIN form_fields ff_self_employment ON ff_self_employment.category_id = fc_se.id\n    AND ff_self_employment.field_name = 'other_taxes'\n\nWHERE \n    -- Use one of the following filters:\n    c.id = 1ad955cb-1e76-4899-8deb-d04745216ecf                     \n    -- OR c.full_name = 'John Doe'   \n    -- OR c.email = 'john@example.com' \n\nORDER BY f.file_year DESC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        0
      ],
      "id": "f020d15f-f636-4eb4-bc23-d69cc135a9b8",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "wAinN9wUEqKd2QYX",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const priorAGI = $json[\"prior_year_AGI\"];\nconst priorTax = $json[\"prior_year_tax\"];\n\nlet safeHarborTax;\n\nif (priorAGI <= 150000) {\n  safeHarborTax = priorTax * 1.00;\n} else {\n  safeHarborTax = priorTax * 1.10;\n}\n\nreturn [\n  {\n    json: {\n      prior_year_AGI: priorAGI,\n      prior_year_tax: priorTax,\n      safe_harbor_tax: safeHarborTax\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "7a2f3ab9-23b0-46b8-823c-81cd4762dfcd",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const safeHarborTax = $json[\"safe_harbor_tax\"];\n\nconst quarterlyTax = safeHarborTax / 4;\n\nreturn [\n  {\n    json: {\n      safe_harbor_tax: safeHarborTax,\n      quarterly_tax_payment: parseFloat(quarterlyTax.toFixed(2))  // Rounded to 2 decimals\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "id": "7606593b-3276-4600-8070-c5eac521c9c3",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const quarterlyTax = $json[\"quarterly_tax_payment\"]; // From Step 3\nconst seIncome = $json[\"se_income\"];\nconst withholdings = $json[\"annual_withholdings\"];\n\n// Step 4: Calculate Self-Employment Tax\nlet seTaxAnnual = 0;\nlet seTaxQuarterly = 0;\n\nif (seIncome > 0) {\n  seTaxAnnual = seIncome * 0.9235 * 0.153;\n  seTaxQuarterly = seTaxAnnual / 4;\n}\n\n// Step 5: Subtract Withholdings\nconst withholdingQuarterly = withholdings / 4;\n\n// Final quarterly payment\nconst finalQuarterlyPayment = quarterlyTax + seTaxQuarterly - withholdingQuarterly;\n\nreturn [\n  {\n    json: {\n      quarterly_base_tax: quarterlyTax,\n      se_income: seIncome,\n      se_tax_annual: parseFloat(seTaxAnnual.toFixed(2)),\n      se_tax_quarterly: parseFloat(seTaxQuarterly.toFixed(2)),\n      annual_withholdings: withholdings,\n      quarterly_withholdings: parseFloat(withholdingQuarterly.toFixed(2)),\n      final_quarterly_payment_due: parseFloat(finalQuarterlyPayment.toFixed(2))\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "2e0a2292-0f25-49e2-a822-8a2ae91cd7fd",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const totalTaxLiability = $json[\"total_tax_liability\"];     // total annual estimated tax\nconst annualWithholdings = $json[\"annual_withholdings\"];\nconst finalQuarterlyDue = $json[\"final_quarterly_payment_due\"];\n\n// Threshold checks\nconst underMinimum = totalTaxLiability < 1000;\nconst coveredByWithholding = annualWithholdings >= (0.9 * totalTaxLiability);\n\n// Result\nlet adjustedQuarterlyDue = finalQuarterlyDue;\nlet message = \"Quarterly estimated payment required.\";\n\nif (underMinimum || coveredByWithholding) {\n  adjustedQuarterlyDue = 0;\n  message = underMinimum\n    ? \"No estimated payments required (total tax liability under $1,000).\"\n    : \"Withholdings cover 90%+ of liability. No estimated payments required.\";\n}\n\nreturn [\n  {\n    json: {\n      total_tax_liability: totalTaxLiability,\n      annual_withholdings: annualWithholdings,\n      final_quarterly_payment_due: finalQuarterlyDue,\n      adjusted_quarterly_due: parseFloat(adjustedQuarterlyDue.toFixed(2)),\n      reason: message\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        0
      ],
      "id": "c1c7d267-7ac2-4aca-bece-c1b1e5a51931",
      "name": "Code3"
    },
    {
      "parameters": {
        "includeTime": false,
        "options": {
          "timezone": ""
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1240,
        0
      ],
      "id": "02d3cdae-fe14-491f-b987-901ccb0ad893",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "let dateStr = $input.first().json.currentDate; // e.g. \"2025-07-25T00:00:00.000+02:00\"\nlet date = new Date(dateStr);\n\n// Normalize to only the date (no time)\nlet current = new Date(date.getFullYear(), date.getMonth(), date.getDate());\n\n// IRS Quarterly Due Dates\nlet year = date.getFullYear();\nlet dueDates = [\n  new Date(year, 0, 15),   // Jan 15 (Q4 of previous year or Q1)\n  new Date(year, 3, 15),   // Apr 15 (Q1)\n  new Date(year, 5, 15),   // Jun 15 (Q2)\n  new Date(year, 8, 15),   // Sep 15 (Q3)\n  new Date(year + 1, 0, 15) // Jan 15 next year (Q4)\n];\n\n// Check if within 7-day window of any due date\nconst within7Days = dueDates.some(due => {\n  const diff = Math.abs((current - due) / (1000 * 60 * 60 * 24));\n  return diff <= 7;\n});\n\nreturn [\n  {\n    json: {\n      current_date: current.toISOString().split(\"T\")[0],\n      reminder_triggered: within7Days\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        0
      ],
      "id": "0a753310-eeaf-4129-8601-5c537c954cc8",
      "name": "Code4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5a84211-e586-4c56-8559-33d40f6d3174",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        0
      ],
      "id": "8621de9e-ccd7-4493-a06a-21adce9ca868",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.id AS client_id,\n    c.full_name,\n    c.email,\n    f.file_year,\n\n    ff_overpay.field_value AS overpayment_amount,\n    ff_estpay.field_value AS estimated_payments\n\nFROM clients c\nJOIN files f ON f.client_id = c.id\nJOIN forms fo ON fo.file_id = f.id\n\n-- Join for overpayment\nJOIN form_categories fc_overpay ON fc_overpay.form_id = fo.id\nJOIN form_fields ff_overpay ON ff_overpay.category_id = fc_overpay.id\n    AND ff_overpay.field_name = 'overpayment_amount'\n\n-- Join for estimated payments\nJOIN form_categories fc_estpay ON fc_estpay.form_id = fo.id\nJOIN form_fields ff_estpay ON ff_estpay.category_id = fc_estpay.id\n    AND ff_estpay.field_name = 'estimated_payments'\n\nWHERE \n    -- Use one of the following filters:\n    c.id = '1ad955cb-1e76-4899-8deb-d04745216ecf'                     \n    -- OR c.full_name = 'John Doe'   \n    -- OR c.email = 'john@example.com' \n\nORDER BY f.file_year DESC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        220
      ],
      "id": "f0ac5792-1b5d-4467-8182-06e9c3ccf124",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "wAinN9wUEqKd2QYX",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3859662c-84b8-43c8-b5a3-211bdfb260ff",
              "leftValue": 0,
              "rightValue": 2000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "61c6f41a-4878-490f-95f5-a5180c83c5d9",
              "leftValue": 0,
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        220
      ],
      "id": "9b2e2309-2d1b-4f34-b1ff-c4f8c955e156",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1420,
        220
      ],
      "id": "bb13b750-0f1c-4ba8-b3fe-0692b6f2d2ca",
      "name": "Send Email",
      "webhookId": "9cdf1d15-61cc-4fb1-b404-2d1bad08767b"
    },
    {
      "parameters": {
        "includeTime": false,
        "options": {
          "timezone": ""
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        680,
        220
      ],
      "id": "79b379e0-a7ad-4168-ad56-ee2d26a5cf21",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "jsCode": "let dateStr = $input.first().json.currentDate; // e.g. \"2025-07-25T00:00:00.000+02:00\"\nlet date = new Date(dateStr);\n\n// Normalize to only the date (no time)\nlet current = new Date(date.getFullYear(), date.getMonth(), date.getDate());\n\n// Define July 1st of current year\nlet july1 = new Date(date.getFullYear(), 6, 1); // month is 0-indexed, so 6 = July\n\n// Check if today is July 1\nconst isJulyFirst = current.getTime() === july1.getTime();\n\nreturn [\n  {\n    json: {\n      current_date: current.toISOString().split(\"T\")[0],\n      is_july_first: isJulyFirst\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        220
      ],
      "id": "d8e45114-4318-43d6-8ae9-4273d43a0f96",
      "name": "Code5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5a84211-e586-4c56-8559-33d40f6d3174",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        220
      ],
      "id": "bb51888f-b4b1-4805-85d9-1b55fcc75359",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1640,
        220
      ],
      "id": "183ce91c-70fc-466f-a54e-67da4108a772",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "tY2ltCa61fw2n8jg",
          "name": "Tax- ALT"
        }
      }
    },
    {
      "parameters": {
        "operation": "get"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        500
      ],
      "id": "19b78d2e-1897-46c0-a7d6-00ad38a4e53d",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "tY2ltCa61fw2n8jg",
          "name": "Tax- ALT"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        300,
        500
      ],
      "id": "9c426cd4-813e-4366-9797-82725abb158b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lnt9SKFkvKkChngE",
          "name": "Test_bam"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eff964a1-822c-4f52-852b-3e18d81f6665",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        500
      ],
      "id": "4ea00fdc-7384-41e2-b240-4e1012da3166",
      "name": "If3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1100,
        600
      ],
      "id": "b52b95d6-8b18-489f-9664-af0b36f8fb18",
      "name": "Send Email1",
      "webhookId": "e160d475-252e-4fe1-85c6-fd64fe6e1cf5"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        880,
        600
      ],
      "id": "86f2b8ff-259b-454c-9399-723e96e5a762",
      "name": "Slack",
      "webhookId": "ae674c88-5ce5-48d7-8dc1-d61f3e639683",
      "credentials": {
        "slackOAuth2Api": {
          "id": "vcv6r674EVNMorsX",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        400
      ],
      "id": "48065b97-2ea6-4dac-b609-4b919e6f95a2",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "tY2ltCa61fw2n8jg",
          "name": "Tax- ALT"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1960,
        -120
      ],
      "id": "6373c668-d551-4fdf-81e7-123e06ce924f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SzMnwnOmIaPdMBI0",
          "name": "Yoni "
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2180,
        -120
      ],
      "id": "59f9f28a-ba73-482d-b4aa-696a6889bd9c",
      "name": "Slack1",
      "webhookId": "a78196ca-1826-4170-9576-8dc99df32a87",
      "credentials": {
        "slackOAuth2Api": {
          "id": "vcv6r674EVNMorsX",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "g8oVhs1GlKPeruvm"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "559552cb-b430-4d24-8f52-f0a0d076a200",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-06-27T08:12:47.429Z",
      "updatedAt": "2025-06-27T08:12:47.429Z",
      "role": "workflow:owner",
      "workflowId": "a95ZSYv8sYHfSKqp",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}