repo/workflows/alxc0FCurZ6DaNxb.json
{
  "createdAt": "2025-08-18T22:06:15.976Z",
  "updatedAt": "2025-08-23T11:32:50.879Z",
  "id": "alxc0FCurZ6DaNxb",
  "name": "Medical Telegram Bot v2",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -300,
        -220
      ],
      "id": "e999a755-044c-4b42-b71c-ef2a5a113804",
      "name": "Telegram Trigger",
      "webhookId": "72da5bbb-9901-4e0a-842e-056af3be2928",
      "credentials": {
        "telegramApi": {
          "id": "humUyuIoeEmp3gOA",
          "name": "Doctor Telegram Api Token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a translation engine. You are an expert in translating amharic to english. Translate the following Amharic text into English. \n\n",
              "role": "system"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -80,
        -220
      ],
      "id": "ea2406df-2020-4742-8eeb-43e1e067f31d",
      "name": "Translate Amharic to English",
      "credentials": {
        "openAiApi": {
          "id": "P97bW4SECej7SdA6",
          "name": "don't use this eric"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a cautious, helpful medical information assistant.\n- Provide general information only, not a diagnosis or treatment plan.\n- Encourage the user to consult a healthcare professional for personal advice.\n- If the message implies an emergency (e.g., severe chest pain, trouble breathing, severe bleeding, stroke signs), tell them to call their local emergency number immediately.\n- Be concise and structured (use short paragraphs or bullet points where helpful).\n- Avoid definitive prescriptions, dosing, or unverified claims.",
              "role": "system"
            },
            {
              "content": "=The user asked this medical question (translated to English from Amharic). \nPlease answer in clear English:\n\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        296,
        -220
      ],
      "id": "a8d174dd-b33b-4326-9021-c82cd1477c65",
      "name": "Medical Assistant",
      "credentials": {
        "openAiApi": {
          "id": "P97bW4SECej7SdA6",
          "name": "don't use this eric"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a translation engine. Translate the following English answer into natural Amharic.\nKeep formatting (bullets, short paragraphs). \nOutput AMHARIC ONLY, no preface, no quotes, no explanations.",
              "role": "system"
            },
            {
              "content": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -300,
        -480
      ],
      "id": "f32ce7c7-47de-4e3b-9882-0213e2a9b2d0",
      "name": "Translate English to Amharic",
      "credentials": {
        "openAiApi": {
          "id": "P97bW4SECej7SdA6",
          "name": "don't use this eric"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        892,
        -220
      ],
      "id": "48744387-7ee1-44fa-b6ca-fe821712f42d",
      "name": "Telegram",
      "webhookId": "e318e24b-bbeb-46ab-9387-24cdb925a1c1",
      "credentials": {
        "telegramApi": {
          "id": "humUyuIoeEmp3gOA",
          "name": "Doctor Telegram Api Token"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        672,
        -220
      ],
      "id": "b1782977-430f-49f7-9b81-2cc593b867cf",
      "name": "Google Translate"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Translate Amharic to English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Amharic to English": {
      "main": [
        [
          {
            "node": "Medical Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medical Assistant": {
      "main": [
        [
          {
            "node": "Google Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate English to Amharic": {
      "main": [
        []
      ]
    },
    "Google Translate": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "67bd9f13-0fb5-4036-a8b0-2ec3c2e20752",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-08-18T22:06:15.976Z",
      "updatedAt": "2025-08-18T22:06:15.976Z",
      "role": "workflow:owner",
      "workflowId": "alxc0FCurZ6DaNxb",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}