repo/workflows/bOp4QEadpEvZXle9.json
{
  "createdAt": "2025-02-04T11:40:23.487Z",
  "updatedAt": "2025-02-05T12:26:05.608Z",
  "id": "bOp4QEadpEvZXle9",
  "name": "RFP Question Extractor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyHour",
              "minute": 5
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1CTShSYclaCuuvJGWTOp3HIGpo4Hux7Rw",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2220,
        1200
      ],
      "id": "84c638d5-4689-4637-9d17-59792f1432bd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3lFSIi87pkeGGmOT",
          "name": "Yoni"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f22b0669-bd68-4db5-9a9c-80dbabdc4791",
              "name": "output",
              "value": "={{ $('AI Agent4').item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        1240
      ],
      "id": "2060efe7-02cf-489c-b30f-ffbfca95eed7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "yonatantesfaye30@gmail.com",
        "subject": "RFP Extraction Complete",
        "message": "=<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n<head>\n  <title>RFP Extraction Completed</title>\n</head>\n<body>\n  <table width=\"600\" align=\"center\" cellpadding=\"10\" cellspacing=\"0\" style=\"background-color: #ffffff; border: 1px solid #cccccc;\">\n    <!-- Header -->\n    <tr>\n      <td bgcolor=\"#4CAF50\" style=\"padding: 20px; text-align: center;\">\n        <font color=\"#ffffff\" size=\"5\" face=\"Arial, sans-serif\">\n          <strong>RFP Extraction Completed</strong>\n        </font>\n      </td>\n    </tr>\n\n    <!-- Content -->\n    <tr>\n      <td style=\"padding: 20px; font-family: Arial, sans-serif; color: #333333;\">\n        <h2>Hello,</h2>\n        <p>The RFP extraction process has been successfully completed! ✅</p>\n        <p>📌 <strong>Questions Extracted:</strong></p>\n        <p>You can review the extracted questions in the Google Sheet here:</p>\n        <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\">\n          <tr>\n            <td align=\"center\">\n              <a href=\"{{ $('Google Sheets2').item.json.spreadsheetUrl }}\" style=\"background-color: #4CAF50; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 16px;\">\n                View Google Sheet\n              </a>\n            </td>\n          </tr>\n        </table>\n        <p>If you notice any issues or need modifications, feel free to edit them directly in the sheet.</p>\n        <p>Once reviewed, please approve the extraction:</p>\n        <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\">\n          <tr>\n            <td align=\"center\">\n              <a href=\"https://n8n.tebita.com/webhook-test/6f6a3330-8658-478f-8e0e-560e61a60db0?sheetURL={{ $('Google Sheets2').item.json.spreadsheetUrl }}\" style=\"background-color: #2196F3; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 16px;\">\n                Approve\n              </a>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n\n    <!-- Footer -->\n    <tr>\n      <td bgcolor=\"#f4f4f4\" style=\"padding: 10px; text-align: center; font-family: Arial, sans-serif; font-size: 14px; color: #666666;\">\n        <p>Thank you for using our services!</p>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1980,
        1240
      ],
      "id": "a379269c-fa04-4408-8c83-d09e773996f1",
      "name": "Gmail",
      "webhookId": "1546d1c6-2ca5-4720-845f-7071038121e1",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "Zd7T3toCltLxTYTO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7a2b9500-6bc1-42e1-9e8f-4e462f59ec16",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2020,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "59aeb29e-5475-4a14-84af-e0b236d1838d",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1700,
        1360
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3lFSIi87pkeGGmOT",
          "name": "Yoni"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1860,
        1200
      ],
      "id": "ff9112ea-d795-4788-acee-7980c13b3629",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3c5df606-76f2-4989-8a14-529908e68792",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8db43e69-36d3-44f3-be77-f9f09fc25d8c",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(4)"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "ebe6e043-c455-459f-b607-6e82964520c0",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1580,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "1001f7b8-448c-4667-8348-9c37e19782c8",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1000,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "6f425660-6363-4c78-ab22-dab3b971553b",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1000,
        1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID1').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Set File ID1').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "4f6f474e-697c-4be9-9db6-2bb79535b820",
      "name": "Convert to Google Doc1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1040,
        1960
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3lFSIi87pkeGGmOT",
          "name": "Yoni"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "5842e16d-8e81-4bf7-946c-40e17b1850ae",
      "name": "Extract from Text File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1000,
        1240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "f32e7f13-7781-4e25-a089-ddb9c3189180",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -780,
        1440
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "26795c05-a4bc-46c8-9451-7586327a9ba0",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -580,
        1440
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "Extract only the questions from the following text. Ignore any answers, explanations, or extra information.\n\nFormat the output as a JSON object with a single key questions, where the value is an array containing each extracted question as a separate entry.\n\nImportant Note: If you don't find any questions in the text, you must still return a JSON object with an empty array for questions. However, if you do find questions, make sure to include them all—don't pretend they don't exist!\n\nExample Output:\n\n{\n  \"questions\": [\n    \"What is your company’s legal name?\",\n    \"Please provide your company's registration number.\",\n    \"Does your company comply with GDPR?\"\n  ]\n}\nOnly return the JSON object. Do not include any additional text, explanations, or formatting outside the JSON structure. And remember, the questions are real—don't gaslight me into thinking they aren't!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -40,
        1280
      ],
      "id": "52ddbf8f-7644-4cf5-9867-dbc000bc78fc",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        1520
      ],
      "id": "c48ee320-c116-445f-bb58-35eee3e53a60",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "9dZkBlQ9pjp5qbos",
          "name": "Openai1"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }} ",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HfUFuvvFPu4aoEq4ew3yByrIdyDq4KG2",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        940,
        1240
      ],
      "id": "222c48ee-f6aa-4197-8ba2-776ffa2ae407",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3lFSIi87pkeGGmOT",
          "name": "Yoni"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Google Sheets2').item.json[\"spreadsheetId\"] }}/values/Sheet1!A:Z",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "range",
              "value": "Sheet1!A:Z"
            },
            {
              "name": "values",
              "value": "={{ [$json.headers] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "984685ac-f535-4a2e-8ab0-5e59cf300c44",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        740,
        1280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Uu8fHmMcHyVMgg3q",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Google Drive Trigger').item.json.name }} result",
        "options": {}
      },
      "id": "b1d11751-fe3f-4775-a4ec-954810206111",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        340,
        1280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Uu8fHmMcHyVMgg3q",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "headers",
              "value": "={{ [\n  \"Questions\",\n  \"Answers\",\n] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8ed74abc-69b9-483a-a973-99d81334d917",
      "name": "Define headers1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        560,
        1280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.questions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1580,
        1240
      ],
      "id": "2ad973c1-3d94-4933-85e4-4d4da43e3138",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheets2').item.json.spreadsheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Questions": "={{ $json['output.questions'] }}"
          },
          "matchingColumns": [
            "Questions"
          ],
          "schema": [
            {
              "id": "Questions",
              "displayName": "Questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Answers",
              "displayName": "Answers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1780,
        1240
      ],
      "id": "0b31515a-ebf8-4e62-8197-b5bec9edc464",
      "name": "Google Sheets1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Uu8fHmMcHyVMgg3q",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a2e57c7-de2e-4856-86c5-d2c94bf00081",
              "name": "spreadsheetId",
              "value": "={{ $('Update Google Sheet').item.json.spreadsheetId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        1240
      ],
      "id": "13b0116d-3774-4c09-a4b8-e2a78a77fae0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1000,
        1640
      ],
      "id": "4873afa2-0238-4a47-956b-ddcb60d376b6",
      "name": "Extract from File"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Define headers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define headers1": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-02-05T11:57:44Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d2b4fbfa-2eb5-485e-9a0d-074a01dc0be2",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-02-05T06:40:19.181Z",
      "updatedAt": "2025-02-05T06:40:19.181Z",
      "id": "JqCj5tAHj8mJnTwR",
      "name": "RFP"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-02-04T11:40:23.487Z",
      "updatedAt": "2025-02-04T11:40:23.487Z",
      "role": "workflow:owner",
      "workflowId": "bOp4QEadpEvZXle9",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}