repo/workflows/bQzI6pgx0wTRkhXa.json
{
  "createdAt": "2025-09-02T08:26:01.071Z",
  "updatedAt": "2025-09-02T08:31:17.667Z",
  "id": "bQzI6pgx0wTRkhXa",
  "name": "Upwork CoverLetter Generator v2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "43df1461-0e8a-4c1a-afc7-0716c8a06c2f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        128
      ],
      "id": "bf96f920-b4ed-453e-b7e8-0b9f685d76c4",
      "name": "Webhook",
      "webhookId": "43df1461-0e8a-4c1a-afc7-0716c8a06c2f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.jobDetailsHtml }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant and u will take in html and take out the job details from it and give me the formated and clear job details from the html.\n\ni dont need an explanation plz i just want the full job details and every thing from it."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        128
      ],
      "id": "f64ce1e1-cc22-4072-8d1d-1710fdbc5594",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1",
          "mode": "list",
          "cachedResultName": "o1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        352
      ],
      "id": "125da5fa-3821-4753-ad15-5fc4e016d747",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LoNYm3Tv1zMBaEBj",
          "name": "KMT"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"job_title\": \"Beta testers - must have website\",\n  \"job_details\": {\n    \"posted_date\": \"March 27, 2025\",\n    \"description\": \"Looking for beta testers to test my SaaS.\",\n    \"requirements\": {\n      \"must_have_website\": \"Preferably SaaS, e-commerce\",\n      \"ability_to_add_code_snippets\": true,\n      \"knowledge_of_AI\": \"Must have knowledge of GPT and other AI\"\n    },\n    \"payment\": {\n      \"price\": \"$5\",\n      \"type\": \"Fixed-price\"\n    },\n    \"duration\": {\n      \"project_length\": \"Less than 1 month\"\n    },\n    \"experience_level\": \"Expert\",\n    \"skills_and_expertise\": [\n      \"Bug Reports\",\n      \"Usability Testing\"\n    ],\n    \"links\": {\n      \"job_posting\": \"https://www.example.com/jobs/~021905143292569282746\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        624,
        352
      ],
      "id": "2f89c8a3-a4e8-4f61-ba2f-68c607158693",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant your job is to take the job discription and use the airtabel tool to make a cover letter based on the job detail({{ $json.output }}) and the air table tool to take the informations and also when u get information from the airtable tool use this user id to take the information: {{ $('Webhook').item.json.body.userId }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        800,
        128
      ],
      "id": "00162404-327e-4763-9985-1be221faa81d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "applqGKuf38BnK8j6",
          "mode": "list",
          "cachedResultName": "Upwork",
          "cachedResultUrl": "https://airtable.com/applqGKuf38BnK8j6"
        },
        "table": {
          "__rl": true,
          "value": "tbl35fNEeSXDL6CSE",
          "mode": "list",
          "cachedResultName": "Table",
          "cachedResultUrl": "https://airtable.com/applqGKuf38BnK8j6/tbl35fNEeSXDL6CSE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        928,
        352
      ],
      "id": "b0b77716-34aa-479a-8610-f7622703197f",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "BgjqBxMAU9tCx7BJ",
          "name": "Airtable Personal Access Token account Upwork"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1",
          "mode": "list",
          "cachedResultName": "o1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        384
      ],
      "id": "dcd1777d-bb61-4b81-9598-c7eaedb965d3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LoNYm3Tv1zMBaEBj",
          "name": "KMT"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"Beamlak A.\",\n  \"address\": \"Addis Ababa, Ethiopia\",\n  \"contact\": {\n    \"email\": \"[empty]\",\n    \"phone\": \"[empty]\"\n  },\n  \"date\": \"March 27, 2025\",\n  \"recipient\": {\n    \"name\": \"Hiring Manager\",\n    \"company\": \"SaaS Company\",\n    \"address\": \"[empty]\"\n  },\n  \"subject\": \"Application for Beta Tester Position\",\n  \"body\": \"Dear Hiring Manager,\\n\\nI am writing to express my interest in the Beta Tester position advertised. With my background in software engineering and my hands-on experience in web development, I believe I would be a valuable addition to your team.\\n\\nI meet all the requirements for this role. I have my own website, which is focused on SaaS solutions. I am proficient in adding code snippets to website headers, and I have substantial knowledge of AI tools, including GPT. My experience includes usability testing and bug reporting, making me well-suited for the responsibilities of this position.\\n\\nI am looking forward to the opportunity to contribute to your project and provide valuable feedback to enhance the user experience. Thank you for considering my application. I look forward to discussing my qualifications further.\",\n  \"closing\": \"Sincerely,\",\n  \"signature\": \"Beamlak A.\\nSoftware Engineer\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1072,
        352
      ],
      "id": "1d7adf6e-ffef-4d71-962d-a7c9bbcdad1c",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1168,
        128
      ],
      "id": "a24a423e-ce96-4202-a49c-419bb6a55625",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ecca79ef-10a9-4a7d-b830-81f14a05dd25",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-02T08:26:01.071Z",
      "updatedAt": "2025-09-02T08:26:01.071Z",
      "role": "workflow:owner",
      "workflowId": "bQzI6pgx0wTRkhXa",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}