repo/workflows/CuQHYORmIJ5od6v6.json
{
  "createdAt": "2025-06-26T08:00:04.934Z",
  "updatedAt": "2025-06-26T09:38:00.602Z",
  "id": "CuQHYORmIJ5od6v6",
  "name": "miamihurricanes",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tuJWiVqX14TqBHn0",
          "mode": "list",
          "cachedResultName": "influxermerch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "direction": "next",
            "_data": "routes/($locale).athletes._index",
            "cursor": "={{ $json.athletes.pageInfo.endCursor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "_data",
              "displayName": "_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        -40
      ],
      "id": "3a629b80-9418-4dc2-9791-670c9cffbefa",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "path": "daa3428a-ec8f-40c3-be40-f3727071cca9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1540,
        -20
      ],
      "id": "9b798e29-958b-4a28-a9d8-ec7e41845d99",
      "name": "Webhook",
      "webhookId": "daa3428a-ec8f-40c3-be40-f3727071cca9",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1540,
        -280
      ],
      "id": "1f9daa49-d3a2-4a24-83e5-04460921d028",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"lists\": [\n    \"baseball\",\"mbball\",\"football\",\"mens-lacrosse\",\"mten\",\"wbball\",\"swim\",\"womens-lacrosse\",\"wgolf\",\"soc\", \"softball\",\"track\",\"wrow\",\"wten\",\"cross\",\"wvball\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -280
      ],
      "id": "1170a9a9-91eb-4d67-9ef1-b28ee3cb92ee",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://miamihurricanes.com/sports/{{ $json.lists }}/roster",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        -280
      ],
      "id": "c936cc54-2c5d-4984-b2c6-d35c9c077c26",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1020,
        -280
      ],
      "id": "9d78e264-6779-4ad0-bc8a-4df8d25d02e0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const htmlContent = item.json.html || item.json.content || item.json.data;\n\n  if (!htmlContent) {\n    item.json.rosterValues = [];\n    continue;\n  }\n\n  const sports = [\n    \"baseball\", \"mbball\", \"football\", \"mens-lacrosse\", \"mten\", \"wbball\", \"swim\",\n    \"womens-lacrosse\", \"wgolf\", \"soc\", \"softball\", \"track\", \"wrow\", \"wten\", \"cross\", \"wvball\"\n  ];\n\n  const sportsPattern = sports.join(\"|\");\n  const regex = new RegExp(\n    `href=\"(\\\\/sports\\\\/(?:${sportsPattern})\\\\/roster\\\\/?)\"`,\n    \"gi\"\n  );\n\n  const matches = [];\n  let match;\n  while ((match = regex.exec(htmlContent)) !== null) {\n    matches.push(match[1]);\n  }\n\n  item.json = {\n    rosterValues: [...new Set(matches)]\n  };\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -280
      ],
      "id": "287b9811-b571-4e9c-b5ec-fc6f1c8b9ded",
      "name": "Code1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://clarkatlantasports.com/{{ $json.value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -280
      ],
      "id": "8708a52b-4183-4e4f-82df-aec91b1d8f46",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const html = items[0].json.data;\nconst rows = html.match(/<tr>(.*?)<\\/tr>/gs);\n\nconst players = [];\n\nif (rows) {\n  for (const row of rows) {\n    const getCell = (cls) => {\n      const match = row.match(new RegExp(`<td class=\".*?${cls}.*?\">(.*?)<\\\\/td>`, 's'));\n      return match ? match[1].replace(/<[^>]*>/g, '').trim() : null;\n    };\n\n    const nameMatch = row.match(/<td class=\".*?sidearm-table-player-name.*?\">.*?<a .*?>(.*?)<\\/a>/s);\n    const name = nameMatch ? nameMatch[1].trim() : null;\n\n    const imgMatch = row.match(/<img[^>]*data-src=['\"]([^'\"]+)['\"]/);\n    const image = imgMatch ? `https://asugoldenrams.com${imgMatch[1]}` : null;\n\n    const player = {\n      name,\n      position: getCell('rp_position_short'),\n      number: getCell('roster_jerseynum'),\n      height: getCell('height'),\n      weight: getCell('rp_weight'),\n      class: getCell('roster_class'),\n      hometown: getCell('player_hometown'),\n      school: getCell('player_previous_school'),\n      image,\n    };\n\n    // Remove null fields\n    const cleaned = Object.fromEntries(\n      Object.entries(player).filter(([_, value]) => value !== null)\n    );\n\n    players.push(cleaned);\n  }\n}\n\nreturn players.map(player => ({ json: player }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -280
      ],
      "id": "a9cb663d-ec92-4d73-8c66-aa103ef0dfb3",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qfO6ak2gfyyrmqRikGU9J4Az_Gj0TAnXjkBPwy3ICw8",
          "mode": "list",
          "cachedResultName": "miamihurricanes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qfO6ak2gfyyrmqRikGU9J4Az_Gj0TAnXjkBPwy3ICw8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qfO6ak2gfyyrmqRikGU9J4Az_Gj0TAnXjkBPwy3ICw8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.name }}",
            "SPORT": "={{ $json.sport }}",
            "SCHOOL": "={{ $json.school }}",
            "HOMETOWN": "={{ $json.hometown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SPORT",
              "displayName": "SPORT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCHOOL",
              "displayName": "SCHOOL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HOMETOWN",
              "displayName": "HOMETOWN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        740,
        -1740
      ],
      "id": "def81e6e-a6a1-429e-935e-3b5e2a6b8e66",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        200,
        -280
      ],
      "id": "709f419a-1332-4cfd-a6e2-66dd0d6b0eaa",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg",
          "mode": "list",
          "cachedResultName": "miamihurricanes Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "={{ $json.rosterValues }}"
          },
          "matchingColumns": [
            "path"
          ],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -20,
        -280
      ],
      "id": "65728b84-9404-4d84-8b8b-a7c62b7b0a87",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "05f95b62-bc22-402e-aeee-429aecaf5e42",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -800,
        -280
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -20,
        -20
      ],
      "id": "3c77649b-3255-4d4a-b3d4-2b8da0589587",
      "name": "Limit"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        -1380
      ],
      "id": "64961f99-aceb-4f04-8087-d516ff8eb224",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg",
          "mode": "list",
          "cachedResultName": "miamihurricanes Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -380,
        -1380
      ],
      "id": "e5c10289-7ff2-4128-9e80-34f5d3f8216c",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -160,
        -1380
      ],
      "id": "193968b5-cda2-4360-9aa5-f1a0ff5e9b7f",
      "name": "Limit2"
    },
    {
      "parameters": {
        "url": "=https://miamihurricanes.com/{{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -1380
      ],
      "id": "3331b4e6-0ade-4424-a98f-82ff2dfba572",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg",
          "mode": "list",
          "cachedResultName": "miamihurricanes Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wE_4wAcJKYGLM3TsgsnL4tRdv5VcO7uLk-k9jsj3Acg/edit#gid=0"
        },
        "startIndex": "={{ $('Limit2').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        600,
        -1320
      ],
      "id": "34498186-b9ca-4d6d-aead-ed9cd5280498",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "rosterValues",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -180,
        -420
      ],
      "id": "82d9757c-d43a-4131-a5d4-5abc50fef8ca",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "players",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        -1640
      ],
      "id": "80baac9c-1f7f-4c49-8efb-664c69714ff0",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "67m67DquV9DUpz9U",
          "mode": "list",
          "cachedResultName": "mercerbears"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        -1320
      ],
      "id": "4c43a7ec-a4d9-48b7-a053-a07fcbde7ce4",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "path": "5d5bffb6-c9ce-4b33-98d9-f1f908f4e9e8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -660,
        -1080
      ],
      "id": "acb7f5d2-4737-4972-ba31-fb16aaa4c0c1",
      "name": "Webhook2",
      "webhookId": "5d5bffb6-c9ce-4b33-98d9-f1f908f4e9e8"
    },
    {
      "parameters": {
        "jsCode": "const html = $json[\"data\"] || \"\";\n\nconst output = {};\n\n// Extract the sport and year from the header\nconst headerMatch = html.match(/<h2[^>]*>(\\d{4}) ([^<]+?) Roster<\\/h2>/);\nconst year = headerMatch ? headerMatch[1] : \"UnknownYear\";\nconst sport = headerMatch ? headerMatch[2].trim() : \"UnknownSport\";\n\n// Create a key like \"Baseball_2025\"\nconst groupKey = `${sport}_${year}`;\n\n// Extract all player blocks\nconst playerBlocks = html.match(/<li class=\"sidearm-roster-player\"[\\s\\S]*?<\\/li>/g) || [];\n\nconst players = [];\n\nfor (const block of playerBlocks) {\n    const nameMatch = block.match(/aria-label=\"([^\"]+?) - View Full Bio\"/);\n    const yearMatch = block.match(/<span class=\"sidearm-roster-player-academic-year[^>]*?\">([^<]+)<\\/span>/);\n    const prevSchoolMatch = block.match(/<span class=\"sidearm-roster-player-previous-school\">([^<]+)<\\/span>/);\n    const highschoolMatch = block.match(/<span class=\"sidearm-roster-player-highschool\">([^<]+)<\\/span>/);\n\n    const name = nameMatch ? nameMatch[1].trim() : null;\n    const academicYear = yearMatch ? yearMatch[1].trim() : null;\n    const university = prevSchoolMatch ? prevSchoolMatch[1].trim() : (highschoolMatch ? highschoolMatch[1].trim() : null);\n\n    if (name) {\n        players.push({\n            name,\n            academicYear,\n            university,\n            rosterYear: parseInt(year),\n            sport\n        });\n    }\n}\n\n// Attach to the grouped key\noutput[groupKey] = players;\n\n// Output as a single item\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -760
      ],
      "id": "4ddb8184-b15b-42e2-a83f-48d43d0fc6ef",
      "name": "Code3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs",
          "mode": "list",
          "cachedResultName": "asugoldenrams",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.name }}",
            "SPORT": "={{ $json.sport }}",
            "SCHOOL": "={{ $json.school }}",
            "HOMETOWN": "={{ $json.hometown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SPORT",
              "displayName": "SPORT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCHOOL",
              "displayName": "SCHOOL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HOMETOWN",
              "displayName": "HOMETOWN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2720,
        -1140
      ],
      "id": "3f314acc-053a-4c33-ac04-46dc357b3ffe",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MYJ51fHpcG8U7E9j",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ungathletics.com/sports/{{ $json.lists }}/roster",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -760
      ],
      "id": "12831b92-71d5-41d6-a007-732a4185f96a",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4",
          "mode": "list",
          "cachedResultName": "Linkes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4/edit#gid=0"
        },
        "startIndex": "={{ $('Limit3').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2580,
        -720
      ],
      "id": "9bf27328-59c1-43e6-8cb7-e51d2958a175",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MYJ51fHpcG8U7E9j",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ufPTZ6E78j6I48HC",
          "mode": "list",
          "cachedResultName": "asugoldenrams"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "_data",
              "displayName": "_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2940,
        -720
      ],
      "id": "83426066-ef43-4a92-94cb-37bf175d713f",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"lists\": [\n    \"baseball\",\"mens-basketball\",\"football\",\"track-and-field\",\"womens-basketball\",\"womens-cross-country\", \"womens-soccer\",\"softball\",\"tennis\",\"womens-track-and-field\",\"womens-volleyball\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        -760
      ],
      "id": "af0c623d-4f81-430b-b044-bf88af1abab3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1700,
        -760
      ],
      "id": "234a8708-66da-45ed-b684-82e249c94182",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8d039917-dbab-4117-8e9a-ae7eb5508703",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1840,
        -760
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $json[\"data\"] || \"\";\nconst output = [];\n\n// Helper: safely get a matched regex group and trim\nfunction safeMatch(html, regex, group = 1) {\n    const match = html.match(regex);\n    return match && match[group] ? decodeHtml(match[group].trim()) : null;\n}\n\n// Helper: decode HTML entities like &#39; → '\nfunction decodeHtml(str) {\n    return str.replace(/&#(\\d+);/g, (_, dec) => String.fromCharCode(dec))\n              .replace(/&quot;/g, '\"')\n              .replace(/&amp;/g, '&')\n              .replace(/&lt;/g, '<')\n              .replace(/&gt;/g, '>')\n              .replace(/&#x27;/g, \"'\")\n              .replace(/&apos;/g, \"'\");\n}\n\nlet year = \"UnknownYear\";\nlet sport = null;\n\n// Try <h2> tag\nconst headerMatch = html.match(/<h2[^>]*>(\\d{4}) ([^<]+?) Roster<\\/h2>/);\nif (headerMatch && headerMatch[1] && headerMatch[2]) {\n    year = headerMatch[1];\n    sport = decodeHtml(headerMatch[2].trim());\n}\n\n// Try meta tag\nif (!sport) {\n    const metaMatch = html.match(/<meta[^>]+content=\"(\\d{4})-?\\d{0,2}? ([^\"]+?) Roster\"/);\n    if (metaMatch && metaMatch[1] && metaMatch[2]) {\n        year = metaMatch[1];\n        sport = decodeHtml(metaMatch[2].trim());\n    }\n}\n\n// Try JS variable\nif (!sport) {\n    sport = safeMatch(html, /associated_sport\\s*=\\s*{[^}]*\"title\"\\s*:\\s*\"([^\"]+?)\"/);\n}\n\n// Try from HTML class\nif (!sport) {\n    const code = safeMatch(html, /<html[^>]+class=\"[^\"]*sport\\s+([a-z0-9\\-]+)[^\"]*\"/i);\n    const codeToSportMap = {\n        // Men's\n        \"baseball\": \"Baseball\",\n        \"bsb\": \"Baseball\",\n        \"mens-basketball\": \"Men's Basketball\",\n        \"mbkb\": \"Men's Basketball\",\n        \"mens-cross-country\": \"Men's Cross Country\",\n        \"mxc\": \"Men's Cross Country\",\n        \"mens-soccer\": \"Men's Soccer\",\n        \"msoc\": \"Men's Soccer\",\n        \"mens-golf\": \"Men's Golf\",\n        \"mgolf\": \"Men's Golf\",\n        \"mens-lacrosse\": \"Men's Lacrosse\",\n        \"mlax\": \"Men's Lacrosse\",\n        \"mens-swimming\": \"Men's Swimming\",\n        \"mens-track-and-field\": \"Men's Track and Field\",\n        \"mtrack\": \"Men's Track and Field\",\n        \"mens-tennis\": \"Men's Tennis\",\n        \"mten\": \"Men's Tennis\",\n\n        // Women's\n        \"womens-basketball\": \"Women's Basketball\",\n        \"wbkb\": \"Women's Basketball\",\n        \"womens-cross-country\": \"Women's Cross Country\",\n        \"wxc\": \"Women's Cross Country\",\n        \"womens-soccer\": \"Women's Soccer\",\n        \"wsoc\": \"Women's Soccer\",\n        \"womens-golf\": \"Women's Golf\",\n        \"wgolf\": \"Women's Golf\",\n        \"womens-tennis\": \"Women's Tennis\",\n        \"wten\": \"Women's Tennis\",\n        \"womens-track-and-field\": \"Women's Track and Field\",\n        \"wtrack\": \"Women's Track and Field\",\n        \"womens-volleyball\": \"Women's Volleyball\",\n        \"wvball\": \"Women's Volleyball\",\n        \"womens-lacrosse\": \"Women's Lacrosse\",\n        \"wlax\": \"Women's Lacrosse\",\n        \"womens-swimming\": \"Women's Swimming\",\n\n        // Other sports\n        \"softball\": \"Softball\",\n        \"sball\": \"Softball\",\n        \"tennis\": \"Tennis\",\n        \"track-and-field\": \"Track and Field\",\n        \"xc\": \"Cross Country\",\n        \"football\": \"Football\",\n        \"cheerleading\": \"Cheerleading\",\n        \"equestrian\": \"Equestrian\",\n        \"beach-volleyball\": \"Beach Volleyball\"\n    };\n\n    if (code) {\n        const normalized = code.toLowerCase();\n        sport = codeToSportMap[normalized] || normalized;\n    }\n}\n\n// Fallback\nif (!sport) sport = \"UnknownSport\";\n\n// Extract all player blocks\nconst playerBlocks = html.match(/<li class=\"sidearm-roster-player\"[\\s\\S]*?<\\/li>/g) || [];\n\nfor (const block of playerBlocks) {\n    const name = safeMatch(block, /aria-label=\"([^\"]+?) - View Full Bio\"/);\n    const academicYear = safeMatch(block, /<span class=\"sidearm-roster-player-academic-year[^>]*?\">([^<]+)<\\/span>/);\n    const prevSchool = safeMatch(block, /<span class=\"sidearm-roster-player-previous-school\">([^<]+)<\\/span>/);\n    const highSchool = safeMatch(block, /<span class=\"sidearm-roster-player-highschool\">([^<]+)<\\/span>/);\n    const hometown = safeMatch(block, /<span class=\"sidearm-roster-player-hometown\">([^<]+)<\\/span>/);\n\n    const school = prevSchool || highSchool;\n\n    if (name) {\n        const player = {\n            name,\n            sport,\n            rosterYear: parseInt(year),\n            academicYear,\n            school,\n            hometown,\n        };\n\n        const cleaned = Object.fromEntries(\n            Object.entries(player).filter(([_, value]) => value !== null && value !== \"\")\n        );\n\n        if (Object.keys(cleaned).length > 1) {\n            output.push(cleaned);\n        }\n    }\n}\n\nreturn [{ json: { players: output } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -1380
      ],
      "id": "fc1eeed8-aa99-41bc-88ec-cd795ab8ab6d",
      "name": "Code4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        -1160
      ],
      "id": "21b57308-8654-4c88-8236-8312d4d80a43",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "85f17916-1960-43d5-aded-47b4f48ff57f",
  "triggerCount": 2,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-06-26T08:00:04.934Z",
      "updatedAt": "2025-06-26T08:00:04.934Z",
      "role": "workflow:owner",
      "workflowId": "CuQHYORmIJ5od6v6",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}