repo/workflows/dipAO5NwRaVWGsQe.json
{
  "createdAt": "2025-04-25T22:11:37.177Z",
  "updatedAt": "2025-04-28T22:20:07.417Z",
  "id": "dipAO5NwRaVWGsQe",
  "name": "AI Output _ Image Generator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<script>window.close()</script>",
        "options": {}
      },
      "id": "b7a4b3c4-4e65-455b-8e4e-0eea6cd6d150",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -580,
        60
      ]
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Webhook').item.json.query.base_id }}/{{ $('Webhook').item.json.query.table_id }}/{{ $('Webhook').item.json.query.record_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0b1f7b80-a54f-4ab5-aa3d-b07147448825",
      "name": "GET Airtable Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5QC5eN6T4Ff5GA8C",
          "name": "Airtable for The Human Code"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Webhook').item.json.query.base_id }}/{{ $('Webhook').item.json.query.table_id }}/{{ $('Webhook').item.json.query.record_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"fields\": {\n    \"AI Status\": \"AI Writing...\"\n  }\n}",
        "options": {}
      },
      "id": "09dddda8-a943-4793-9751-82af53163e98",
      "name": "Set Record Status to AI Writing (Airtable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5QC5eN6T4Ff5GA8C",
          "name": "Airtable for The Human Code"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "167f3ee1-cb22-4885-81a5-3f08b8405248",
              "name": "SetImagePrompt",
              "value": "=###Context###\nHere are some details on how to write great AI image prompts: \nPart 1: Structuring the Prompt\nA well-structured prompt guides the AI effectively, ensuring all necessary elements are included.\n1.1 Subject\nDefine the Main Focus:\nCharacter: Describe appearance, attire, and emotions.Example: \"A young elven archer with emerald eyes and intricate silver armor.\"\nScene: Outline the setting and key elements.\nExample: \"A bustling cyberpunk cityscape at night with neon signs.\"\nObject: Specify details and significance.\nExample: \"An ancient, weathered compass lying on a map.\"\nTips:Be Specific: Avoid general terms.\nUse Descriptive Language: Employ vivid adjectives and nouns.\n1.2 Style\nDescribe the Artistic Approach:\nPhotorealistic: Focus on lifelike accuracy.Example: \"Rendered in ultra-realistic detail with accurate textures.\"\nStylized: Incorporate artistic influences.\nExample: \"In the style of Japanese anime with bold lines and vibrant colors.\"\nCinematic: Emulate film aesthetics.\nExample: \"Shot with a wide-angle lens, featuring dramatic shadows.\"\nSuggestions:\nReference Artists or Movements: \"In the style of Van Gogh\" or \"inspired by Art Deco.\"\nMention Mediums: \"Watercolor effect\" or \"digital illustration.\"\n1.3 Details\nSpecify Attributes and Characteristics:\nAnatomy/Design: Physical traits or design elements.\nExample: \"Wearing a flowing red cape that billows in the wind.\"\nLighting: Type and direction of light.\nExample: \"Illuminated by a soft, golden sunset.\"\nTextures: Surface qualities.\nExample: \"Featuring a rough, stone-like texture on the dragon's scales.\"\nStrategies:\nUse Sensory Language: Describe how elements might feel or sound.\nIncorporate Metaphors: \"Eyes as deep as the ocean.\"\n1.4 Background/Environment\nSet the Scene:\nEnvironment Description: Landscape, architecture, weather.\nExample: \"A serene Japanese garden during cherry blossom season.\"\nContextual Elements: Objects or characters in the background.\nExample: \"Silhouettes of distant mountains under a starry sky.\"\nApproach:\nCreate Depth: Mention foreground, middle ground, and background elements.\nAtmospheric Conditions: Include weather effects like rain, fog, or snow.2.5 Keywords for Enhancement\nIncorporate Advanced Descriptors:\nLighting Effects:\"Volumetric lighting\" for realistic beams of light.\"Global illumination\" for natural light diffusion.\nCamera Techniques:\"Depth of field\" for focus variation.\"Motion blur\" for dynamic movement.\nVisual Effects:\"Lens flare\" for bright light sources.\"Particle effects\" for dust, sparks, or magic.\nImplementation:\nUse Technical Terms Recognized by FLUX AI:\nEnsure compatibility with the AI's understanding.\nCombine Keywords:\"Ultra-detailed, 8K resolution with cinematic lighting.\"\nPart 2: Enhancing the PromptRefinement transforms a good prompt into an exceptional one, maximizing precision and quality.\n2.1 Adding Precision\nReplace Vague Terms:\nGeneral to Specific: Instead of \"a nice building,\" use \"a Victorian-era mansion with ornate detailing.\"\nQuantify When Possible:\"A crowd of people\" becomes \"a group of five travelers.\"\nEnhancement Techniques:\nUse Strong Adjectives: Opt for words like \"majestic,\" \"dilapidated,\" \"gleaming.\"Avoid Ambiguity: Remove words like \"some,\" \"thing,\" \"stuff.\"\n2.2 Incorporating Advanced KeywordsInclude AI-Recognized Terms:\nResolution and Detail:\"Rendered in 8K with ultra-high-definition textures.\"Lighting and Effects:\"Dynamic shadows and ambient occlusion for depth.\"\nArtistic Enhancements:\"HDR imaging for balanced exposure.\"\nBest Practices:\nStay Relevant: Only use keywords that enhance the intended effect.\nAvoid Overloading: Too many technical terms can confuse the AI.\n2.3 Balancing Creativity and FocusAvoid Conflicting Details:\nSimplify Complex Ideas:\nBreak down multifaceted concepts into clear, concise descriptions.\nMaintain Consistency:Ensure all elements support the same theme and style.\nStrategies:\nPrioritize Key Elements: Focus on the most important aspects.\nLimit Descriptors per Element: Prevent overcomplication.\n2.4 Matching Output Expectations\nAdjust for Complexity:\nFor Intricate Scenes:\nEmphasize primary components to avoid overwhelming the AI.\nFor Multiple Subjects:\nSpecify relationships and interactions clearly.\nTechniques:\nUse Hierarchical Descriptions:\nStart with the main subject, then detail secondary elements.\nSet Boundaries:Indicate the scope, like \"foreground focus on the character, with a blurred background.\"\n\nAbout the brand: \n{{ $('GET Airtable Record').item.json.fields['About The Brand (from Brand Assets)'][0] }}\n\nCustomer avatar: \n{{ $('GET Airtable Record').item.json.fields['Customer Avatar (from Brand Assets)'][0] }}\n\n###Instruction###\nYour task is to use that context and improve this prompt: \n{{ $('GET Airtable Record').item.json.fields['Image Prompt'] }}.\n\n###Example Output###\nYour output must be a maximum of 2-3 sentences. Do not provide any other context besides the prompt exactly how it should be used.",
              "type": "string"
            },
            {
              "id": "f045a2fc-3fc5-4fb6-b1a5-052d86f4cf32",
              "name": "base_id",
              "value": "={{ $('Webhook').item.json.query.base_id }}",
              "type": "string"
            },
            {
              "id": "5ca43b05-002b-407d-9f4c-8e1dec61679a",
              "name": "table_id",
              "value": "={{ $('Webhook').item.json.query.table_id }}",
              "type": "string"
            },
            {
              "id": "1a23949a-dcd9-44fd-8433-26472871e0a7",
              "name": "record_id",
              "value": "={{ $('Webhook').item.json.query.record_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "070fb120-3cc8-42d5-8b10-e6c432a7329f",
      "name": "Set Image Prompt and Airtable IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "// This code should be placed in an n8n Function node.\n\n// Process all input items\nconst output = items.map(item => {\n  // Get the SetImagePrompt field from the current item\n  const SetImagePrompt = item.json.SetImagePrompt;\n\n  // Ensure SetImagePrompt exists and is valid\n  if (!SetImagePrompt) {\n    throw new Error(\"SetOutline field is missing or undefined in one of the items.\");\n  }\n\n  // Replace real line breaks with the visible \\n character\n  const formattedOutput = SetImagePrompt\n    .replace(/\\n/g, \"\\\\n\") // Replace real line breaks with visible \\n\n    .replace(/\"/g, '\\\\\"'); // Escape double quotes\n\n  // Return the formatted output for the current item\n  return {\n    json: {\n      ImagePromptOutput: formattedOutput\n    }\n  };\n});\n\n// Return all processed items\nreturn output;\n"
      },
      "id": "bbd5ba57-85b5-49a3-b7f3-8456030f0350",
      "name": "Convert SetImagePrompt into JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "// This code should be placed in an n8n Function node.\n\n// Process all input items\nconst output = items.map(item => {\n  // Access the message content within choices array\n  const messageContent = item.json.choices[0]?.message?.content;\n\n  // Ensure message content exists and is valid\n  if (!messageContent) {\n    throw new Error(\"message.content field is missing or undefined in one of the items.\");\n  }\n\n  // Replace real line breaks with the visible \\n character\n  const formattedOutput = messageContent\n    .replace(/\\n/g, \"\\\\n\") // Replace real line breaks with visible \\n\n    .replace(/\"/g, '\\\\\"'); // Escape double quotes\n\n  // Return the formatted output for the current item\n  return {\n    json: {\n      ImagePromptJson: formattedOutput\n    }\n  };\n});\n\n// Return all processed items\nreturn output;\n"
      },
      "id": "4e28807c-b9b5-4266-a94d-9e109e1b1a29",
      "name": "Convert Image Prompt into JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        60
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Set Image Prompt and Airtable IDs').item.json.base_id }}/{{ $('Set Image Prompt and Airtable IDs').item.json.table_id }}/{{ $('Set Image Prompt and Airtable IDs').item.json.record_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"fields\": {\n    \"Image Prompt\": \"{{ $json.ImagePromptJson }}\" \n  }\n}",
        "options": {}
      },
      "id": "0e24305e-ca2a-47b0-bac2-558bcca49c54",
      "name": "Update Image Prompt Record (Airtable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5QC5eN6T4Ff5GA8C",
          "name": "Airtable for The Human Code"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.replicate.com/v1/models/black-forest-labs/{{ $('GET Airtable Record').item.json.fields['AI Model (from AI Image Models)'][0] }}/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"input\":{\n      \"prompt\":\"{{ $('Convert Image Prompt into JSON').item.json.ImagePromptJson }}\",\n      \"num_outputs\":1,\n      \"aspect_ratio\":\"{{ $('GET Airtable Record').item.json.fields['Aspect Ratio - FLUX'] }}\",\n      \"output_format\":\"jpg\",\n      \"output_quality\":90,\n      \"disable_safety_checker\":true\n   }\n}",
        "options": {}
      },
      "id": "6f56f60e-00bf-4cd4-b0b8-201dba38792d",
      "name": "Create Image (Flux)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HIEIyD5NYlV0VRGj",
          "name": "Flux Pro"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "526e955c-5752-407d-a0c9-3e4f45651d21",
      "name": "Get Image (Flux)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HIEIyD5NYlV0VRGj",
          "name": "Flux Pro"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/dxodjssrl/image/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "cbHpn-kFedBm4NekPckVa_cP4X4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.output }}"
            },
            {
              "name": "api_key",
              "value": "xxxxxx"
            },
            {
              "name": "upload_preset",
              "value": "ml_default"
            }
          ]
        },
        "options": {}
      },
      "id": "668e87dc-fb3d-47e1-b55f-cb2f42c1a3e9",
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.tinify.com/shrink",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.Authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {\n    \"url\": \"{{ $('Upload to Cloudinary').item.json.url }}\"\n  }\n} \n\n{{ $json.tinifyAPI }}\n",
        "options": {}
      },
      "id": "33968ea8-3ba7-4ef9-8112-8b93bef61ea2",
      "name": "Upload to Tinify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the Tinify API Key from the input\nconst tinifyAPIKey = $(`Set Tinify API Key`).item.json.tinifyAPI;\n\n// Retrieve base_id, table_id, and record_id\nconst base_id = $(`Set Image Prompt and Airtable IDs`).item.json.base_id;\nconst table_id = $(`Set Image Prompt and Airtable IDs`).item.json.table_id;\nconst record_id = $(`Set Image Prompt and Airtable IDs`).item.json.record_id;\n\n// Ensure the API key is defined\nif (!tinifyAPIKey) {\n  throw new Error('Tinify API Key is missing!');\n}\n\n// Generate the Base64-encoded authorization string\nconst base64EncodedKey = Buffer.from(`api:${tinifyAPIKey}`).toString('base64');\n\n// Ensure base_id, table_id, and record_id are defined\nif (!base_id || !table_id || !record_id) {\n  throw new Error('One or more Airtable IDs are missing (base_id, table_id, or record_id)!');\n}\n\n// Return the Authorization key and Airtable IDs as output\nreturn {\n  Authorization: `Basic ${base64EncodedKey}`,\n  base_id,\n  table_id,\n  record_id,\n};\n"
      },
      "id": "9925a274-d396-41b9-83e6-653c24d02ef7",
      "name": "Generate Base64 Key for Tinify API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        60
      ]
    },
    {
      "parameters": {
        "content": "## Refines Image Prompt ",
        "height": 243.17921194887094,
        "width": 945.899258160691
      },
      "id": "7a27583e-9ce7-4544-8592-1a8152180443",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Generates the image ",
        "height": 243.17921194887094,
        "width": 1650.7308574384142,
        "color": 4
      },
      "id": "78f6ca66-e09c-4cda-a16f-3a64c21753b6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aad68b30-648b-4172-b3e7-4861fd056974",
              "name": "tinifyAPI",
              "value": "wcDv4t3YjlqhS3THVHd5WJBj7ctykfYS",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a60f3825-babe-4156-b186-16c86af4c6e9",
      "name": "Set Tinify API Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"n\":\"1\",\n   \"model\":\"{{ $('GET Airtable Record').item.json.fields['OpenRouter Code (from AI Models)'][0] }}\",\n   \"top_p\":1,\n   \"fallback\":true,\n   \"messages\":[\n      {\n         \"role\":\"user\",\n         \"content\":\"{{ $json.ImagePromptOutput }}\"\n      }\n   ],\n   \"json_mode\":true,\n   \"max_tokens\":1024\n}",
        "options": {}
      },
      "id": "c903556b-c4d2-4358-b5b3-b6ec8d4d3ded",
      "name": "Set Image Prompt (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MoOzBggpmmvQVB88",
          "name": "klap"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Generate Base64 Key for Tinify API').item.json.base_id }}/{{ $('Generate Base64 Key for Tinify API').item.json.table_id }}/{{ $('Generate Base64 Key for Tinify API').item.json.record_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n   \"fields\":{\n      \"AI Status\":\"AI Complete\",\n      \"AI Image URL\":\"{{ $json.output.url }}\",\n      \"Content Image\":[\n         {\n            \"url\":\"{{ $json.output.url }}\"\n         }\n      ]\n   }\n}",
        "options": {}
      },
      "id": "8fa47ca1-a136-40c7-96bc-3c10963e2f96",
      "name": "Update Record Status to AI Complete (Airtable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5QC5eN6T4Ff5GA8C",
          "name": "Airtable for The Human Code"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "2a845b03-94e4-46e4-9648-4b287310a19e",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        60
      ],
      "webhookId": "4e5a1ea1-a965-4b48-b783-2ebb0b2aba9e"
    },
    {
      "parameters": {
        "path": "0f99bc36-8e6b-4a1d-9c32-2db075f1037d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "57dad6d3-5131-4ee9-97f8-b646e1ee8d63",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -780,
        60
      ],
      "webhookId": "0f99bc36-8e6b-4a1d-9c32-2db075f1037d"
    }
  ],
  "connections": {
    "GET Airtable Record": {
      "main": [
        [
          {
            "node": "Set Record Status to AI Writing (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Record Status to AI Writing (Airtable)": {
      "main": [
        [
          {
            "node": "Set Image Prompt and Airtable IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200": {
      "main": [
        [
          {
            "node": "GET Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Prompt and Airtable IDs": {
      "main": [
        [
          {
            "node": "Convert SetImagePrompt into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert SetImagePrompt into JSON": {
      "main": [
        [
          {
            "node": "Set Image Prompt (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Image Prompt into JSON": {
      "main": [
        [
          {
            "node": "Update Image Prompt Record (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image Prompt Record (Airtable)": {
      "main": [
        [
          {
            "node": "Create Image (Flux)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image (Flux)": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image (Flux)": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          {
            "node": "Set Tinify API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Base64 Key for Tinify API": {
      "main": [
        [
          {
            "node": "Upload to Tinify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Tinify": {
      "main": [
        [
          {
            "node": "Update Record Status to AI Complete (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tinify API Key": {
      "main": [
        [
          {
            "node": "Generate Base64 Key for Tinify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Prompt (OpenRouter)": {
      "main": [
        [
          {
            "node": "Convert Image Prompt into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Get Image (Flux)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c85e510e-b34d-46a9-9495-634d2dcf64e1",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-04-25T22:11:37.177Z",
      "updatedAt": "2025-04-25T22:11:37.177Z",
      "role": "workflow:owner",
      "workflowId": "dipAO5NwRaVWGsQe",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}