repo/workflows/H1eH9OvflhKZTKTO.json
{
  "createdAt": "2025-05-13T12:41:46.147Z",
  "updatedAt": "2025-05-13T12:44:08.122Z",
  "id": "H1eH9OvflhKZTKTO",
  "name": "My workflow 31",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://45.32.189.71:11235/crawl",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\n    \"{{ $json.url }}\"\n  ],\n  \"browser_config\": {\n    \"java_script_enabled\": true\n  },\n  \"scripts\": [\n    \"document.querySelector('article').innerHTML\"\n  ],\n  \"tool\": {\n    \"name\": \"execute_js\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        140
      ],
      "id": "6a5bafd8-48c1-4446-9929-626c116dcf9b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pdQK8fjx9QD9ZEkd",
          "name": "Crwal4ai"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3dff1bc-b316-4f57-ac5c-08441d70841c",
              "name": "markdown",
              "value": "={{ $json.results[0].markdown.raw_markdown }}",
              "type": "string"
            },
            {
              "id": "9c514f7b-de9d-4f47-9fea-8ca1d804ebab",
              "name": "tables",
              "value": "={{ $json.results[0].tables }}",
              "type": "array"
            },
            {
              "id": "c7830a9e-9154-42b2-8e8f-b64116d51bfb",
              "name": "metadata",
              "value": "={{ $json.results[0].metadata }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        140
      ],
      "id": "e1cbe7d1-0783-485d-848a-9d94a9efe6fc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7252c1ab-4293-4fde-968d-2dbbbbdfb004",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        140
      ],
      "id": "4381ef32-9c2f-4922-8819-7703263a3eb9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "formTitle": "scholarship URL",
        "formDescription": "hello",
        "formFields": {
          "values": [
            {
              "fieldLabel": "url",
              "placeholder": "hello"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1480,
        140
      ],
      "id": "b7b34f80-f404-435d-b2d9-fbfba54189e8",
      "name": "On form submission",
      "webhookId": "8ae8d5ce-9c14-4cbf-a9f2-f26cf5fe9c4b"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=input :  {{ $json.message.content }}"
            },
            {
              "content": "read the input and tell me the name of the scholarship, and the eligibility requirements",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        40,
        140
      ],
      "id": "3ba54f58-59d2-4c3a-afb5-ef9583708dfe",
      "name": "did it work",
      "credentials": {
        "openAiApi": {
          "id": "TUNbbZhFy4QjUJm0",
          "name": "New Open ai "
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Metadata: {{ $json.metadata }}\nTables: {{ $json.tables }}\n\nInput:  {{ $json.markdown }}"
            },
            {
              "content": "=Extract only the meaningful text from the content. \nDo not add any introductions, explanations, or commentary. \nReturn only the cleaned extracted text exactly as found in the content.\n\nconst html = $json.data;\n\n// Function to clean up the content and remove any non-readable parts (e.g., scripts, URLs, etc.)\nfunction cleanText(inputText) {\n  // Remove JavaScript variables, JSON-like objects, and other unnecessary content\n  let cleanedText = inputText.replace(/<script.*?>.*?<\\/script>/g, \"\");  // Remove <script> tags\n  cleanedText = cleanedText.replace(/<[^>]+>/g, \"\"); // Remove all HTML tags\n  cleanedText = cleanedText.replace(/(?:https?|ftp):\\/\\/[^\\s]+/g, \"\"); // Remove URLs\n  cleanedText = cleanedText.replace(/\\{.*?\\}/g, \"\"); // Remove JSON-like objects\n  cleanedText = cleanedText.replace(/\\[\\[.*?\\]\\]/g, \"\"); // Remove arrays\n  cleanedText = cleanedText.replace(/(\\r\\n|\\n|\\r)/g, \" \"); // Normalize newlines\n  cleanedText = cleanedText.trim(); // Trim leading/trailing whitespace\n  return cleanedText;\n}\n\nconst readableText = cleanText(html);\n\nreturn {\n  json: {\n    readableText\n  }\n};",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        140
      ],
      "id": "51369c1f-ac31-4ff4-bd44-1dd68640c77e",
      "name": "extract meaningful text",
      "credentials": {
        "openAiApi": {
          "id": "TUNbbZhFy4QjUJm0",
          "name": "New Open ai "
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "extract meaningful text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract meaningful text": {
      "main": [
        [
          {
            "node": "did it work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3797d72f-57f6-4710-9879-7f7392717a3d",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-05-13T12:41:46.147Z",
      "updatedAt": "2025-05-13T12:41:46.147Z",
      "role": "workflow:owner",
      "workflowId": "H1eH9OvflhKZTKTO",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}