repo/workflows/HHVqRIMlza5youod.json
{
  "createdAt": "2025-06-23T12:14:47.852Z",
  "updatedAt": "2025-06-27T06:03:13.460Z",
  "id": "HHVqRIMlza5youod",
  "name": "gobarrybucs",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tuJWiVqX14TqBHn0",
          "mode": "list",
          "cachedResultName": "influxermerch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "direction": "next",
            "_data": "routes/($locale).athletes._index",
            "cursor": "={{ $json.athletes.pageInfo.endCursor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "_data",
              "displayName": "_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        -40
      ],
      "id": "6568b605-2d89-4dd1-ab55-14d5fce0e7f5",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "path": "f3bcb17d-b752-4ef9-bf3f-d87dc29c8f2b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1540,
        -20
      ],
      "id": "0a08f58d-dabc-4b2d-b6b3-da5ceb8b3477",
      "name": "Webhook",
      "webhookId": "f3bcb17d-b752-4ef9-bf3f-d87dc29c8f2b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1540,
        -280
      ],
      "id": "58d6ac9c-8886-4df2-b956-e80fad3b0ba4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"lists\": [\n    \"baseball\",\"mens-basketball\",\"mens-cross-country\",\"mens-swimming\",\"mens-soccer\",\"mens-tennis\",\"mens-golf\",\"mens-track-field\",\"mens-volleyball\",\"womens-basketball\",\"beach-volleyball\",\"womens-cross-country\",\"rowing\", \"womens-soccer\",\"softball\",\"womens-tennis\",\"womens-track-field\",\"womens-volleyball\",\"esports\",\"jvbb\",\"womens-flag-football\",\"cheerleading\",\"womens-swimming\",\"womens-golf\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -280
      ],
      "id": "b0b423e7-82c0-47b1-a605-19f1259f3a18",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://gobarrybucs.com/sports/{{ $json.lists }}/roster",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        -280
      ],
      "id": "c4b21684-2a90-468d-8328-dc107c0d861a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1020,
        -280
      ],
      "id": "ffc738a9-8fa4-4c04-8cbd-9303429dcf4a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and extract roster values from HTML for all sports\nfor (const item of $input.all()) {\n  // Get the HTML content from the input item\n  const htmlContent = item.json.html || item.json.content || item.json.data;\n  \n  if (!htmlContent) {\n    // If no HTML content found, skip this item\n    item.json.rosterValues = [];\n    continue;\n  }\n  \n  // List of sports to match\n  const sports = [\n    \"baseball\",\n    \"mens-basketball\",\n    \"mens-cross-country\",\n    \"mens-swimming\",\n    \"mens-soccer\",\n    \"mens-tennis\",\n    \"mens-golf\",\n    \"mens-track-field\",\n    \"mens-volleyball\",\n    \"womens-basketball\",\n    \"beach-volleyball\",\n    \"womens-cross-country\",\n    \"rowing\",\n    \"womens-soccer\",\n    \"softball\",\n    \"womens-tennis\",\n    \"womens-track-field\",\n    \"womens-volleyball\",\n    \"esports\",\n    \"jvbb\",\n    \"womens-flag-football\",\n    \"cheerleading\",\n    \"womens-swimming\",\n    \"womens-golf\"\n  ];\n  \n  // Regular expression to match option tags with value attributes\n  const optionRegex = /<option[^>]*value=\"([^\"]*)\"[^>]*>/g;\n  \n  // Array to store extracted values\n  const rosterValues = [];\n  \n  // Extract all matches\n  let match;\n  while ((match = optionRegex.exec(htmlContent)) !== null) {\n    const value = match[1];\n    \n    // Check if the value contains any of our sports roster URLs\n    const isRosterUrl = sports.some(sport => \n      value.includes(`/sports/${sport}/roster/`)\n    );\n    \n    if (isRosterUrl) {\n      rosterValues.push(value);\n    }\n  }\n  \n  // Add the extracted values to the item and remove the original HTML data\n  item.json = {\n    rosterValues: [...new Set(rosterValues)]\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -280
      ],
      "id": "10fa9336-183c-4497-97bc-904bf5f39a22",
      "name": "Code1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://clarkatlantasports.com/{{ $json.value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -280
      ],
      "id": "29ae676f-83ed-4b10-b1d8-894be256e536",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const html = items[0].json.data;\nconst rows = html.match(/<tr>(.*?)<\\/tr>/gs);\n\nconst players = [];\n\nif (rows) {\n  for (const row of rows) {\n    const getCell = (cls) => {\n      const match = row.match(new RegExp(`<td class=\".*?${cls}.*?\">(.*?)<\\\\/td>`, 's'));\n      return match ? match[1].replace(/<[^>]*>/g, '').trim() : null;\n    };\n\n    const nameMatch = row.match(/<td class=\".*?sidearm-table-player-name.*?\">.*?<a .*?>(.*?)<\\/a>/s);\n    const name = nameMatch ? nameMatch[1].trim() : null;\n\n    const imgMatch = row.match(/<img[^>]*data-src=['\"]([^'\"]+)['\"]/);\n    const image = imgMatch ? `https://asugoldenrams.com${imgMatch[1]}` : null;\n\n    const player = {\n      name,\n      position: getCell('rp_position_short'),\n      number: getCell('roster_jerseynum'),\n      height: getCell('height'),\n      weight: getCell('rp_weight'),\n      class: getCell('roster_class'),\n      hometown: getCell('player_hometown'),\n      school: getCell('player_previous_school'),\n      image,\n    };\n\n    // Remove null fields\n    const cleaned = Object.fromEntries(\n      Object.entries(player).filter(([_, value]) => value !== null)\n    );\n\n    players.push(cleaned);\n  }\n}\n\nreturn players.map(player => ({ json: player }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -280
      ],
      "id": "479da426-afc7-4732-a027-59718843f4fb",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1meI0fUch1z26Bfk3z4kc0Hybr9SKn6gTc94d9e4sPb8",
          "mode": "list",
          "cachedResultName": "gobarrybucs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1meI0fUch1z26Bfk3z4kc0Hybr9SKn6gTc94d9e4sPb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1meI0fUch1z26Bfk3z4kc0Hybr9SKn6gTc94d9e4sPb8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.name }}",
            "SPORT": "={{ $json.sport }}",
            "SCHOOL": "={{ $json.school }}",
            "HOMETOWN": "={{ $json.hometown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SPORT",
              "displayName": "SPORT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCHOOL",
              "displayName": "SCHOOL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HOMETOWN",
              "displayName": "HOMETOWN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        740,
        -1740
      ],
      "id": "9e861e92-4378-4152-af16-0433233ff955",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        200,
        -280
      ],
      "id": "01145195-5f81-4c15-a06e-3eb4923c5d8f",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8",
          "mode": "list",
          "cachedResultName": "gobarrybucs Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "={{ $json.rosterValues }}"
          },
          "matchingColumns": [
            "path"
          ],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -20,
        -280
      ],
      "id": "bd05d038-4f9f-436a-89c3-30701d9c07a5",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "29ec2601-85bc-4098-8b5d-b631e59ced9a",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -800,
        -280
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -20,
        -20
      ],
      "id": "b1401f02-c62e-405c-af4e-b3cf2e6ce6ec",
      "name": "Limit"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        -1380
      ],
      "id": "e504221b-a71e-4857-93e9-befad02c17ec",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8",
          "mode": "list",
          "cachedResultName": "gobarrybucs Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -380,
        -1380
      ],
      "id": "0db17cad-7f71-4c35-9c65-48cf07bdfabb",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -160,
        -1380
      ],
      "id": "068c9aa1-eb7a-459a-8f3b-a3ebc2e92f9e",
      "name": "Limit2"
    },
    {
      "parameters": {
        "url": "=https://gobarrybucs.com/{{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -1380
      ],
      "id": "93e9c265-e750-4ddc-ad95-9a86ec88660a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8",
          "mode": "list",
          "cachedResultName": "gobarrybucs Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Skpes-EkyesVznlXWRohqI1fVR6y55b5ON1NxXynZq8/edit#gid=0"
        },
        "startIndex": "={{ $('Limit2').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        600,
        -1320
      ],
      "id": "5476b9d8-af16-4f38-8175-241362da2292",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qzo9pBLR0u93QhG3",
          "name": "Google Sheets account Bam"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "rosterValues",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -180,
        -420
      ],
      "id": "6ef30829-a96f-46f1-87b3-1818f4918b6c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "players",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        -1640
      ],
      "id": "1c120b19-bf89-4f8d-bcbd-a9e8e1602b7a",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HHVqRIMlza5youod",
          "mode": "list",
          "cachedResultName": "gobarrybucs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        -1320
      ],
      "id": "564f00d7-f9f2-4033-9873-98c0c9a2526d",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "path": "10df6f8d-50e8-4681-815e-069f5c8b057b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -660,
        -1080
      ],
      "id": "9bbdc0ed-359b-463f-a85f-ef6007ee4b32",
      "name": "Webhook2",
      "webhookId": "10df6f8d-50e8-4681-815e-069f5c8b057b"
    },
    {
      "parameters": {
        "jsCode": "const html = $json[\"data\"] || \"\";\n\nconst output = {};\n\n// Extract the sport and year from the header\nconst headerMatch = html.match(/<h2[^>]*>(\\d{4}) ([^<]+?) Roster<\\/h2>/);\nconst year = headerMatch ? headerMatch[1] : \"UnknownYear\";\nconst sport = headerMatch ? headerMatch[2].trim() : \"UnknownSport\";\n\n// Create a key like \"Baseball_2025\"\nconst groupKey = `${sport}_${year}`;\n\n// Extract all player blocks\nconst playerBlocks = html.match(/<li class=\"sidearm-roster-player\"[\\s\\S]*?<\\/li>/g) || [];\n\nconst players = [];\n\nfor (const block of playerBlocks) {\n    const nameMatch = block.match(/aria-label=\"([^\"]+?) - View Full Bio\"/);\n    const yearMatch = block.match(/<span class=\"sidearm-roster-player-academic-year[^>]*?\">([^<]+)<\\/span>/);\n    const prevSchoolMatch = block.match(/<span class=\"sidearm-roster-player-previous-school\">([^<]+)<\\/span>/);\n    const highschoolMatch = block.match(/<span class=\"sidearm-roster-player-highschool\">([^<]+)<\\/span>/);\n\n    const name = nameMatch ? nameMatch[1].trim() : null;\n    const academicYear = yearMatch ? yearMatch[1].trim() : null;\n    const university = prevSchoolMatch ? prevSchoolMatch[1].trim() : (highschoolMatch ? highschoolMatch[1].trim() : null);\n\n    if (name) {\n        players.push({\n            name,\n            academicYear,\n            university,\n            rosterYear: parseInt(year),\n            sport\n        });\n    }\n}\n\n// Attach to the grouped key\noutput[groupKey] = players;\n\n// Output as a single item\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -760
      ],
      "id": "a9a42c81-29a4-4f67-b1ce-451ff1aa28a8",
      "name": "Code3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs",
          "mode": "list",
          "cachedResultName": "asugoldenrams",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138B1tXLKWl6Qt4VK_ZFHCBOnZHY6zYuuD69C8WuARFs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.name }}",
            "SPORT": "={{ $json.sport }}",
            "SCHOOL": "={{ $json.school }}",
            "HOMETOWN": "={{ $json.hometown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SPORT",
              "displayName": "SPORT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCHOOL",
              "displayName": "SCHOOL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HOMETOWN",
              "displayName": "HOMETOWN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2720,
        -1140
      ],
      "id": "7fb68fa4-2229-41b7-992f-154d20dad45d",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MYJ51fHpcG8U7E9j",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ungathletics.com/sports/{{ $json.lists }}/roster",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -760
      ],
      "id": "5cf5f138-4b20-448f-9402-cfe6f5a26f2f",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4",
          "mode": "list",
          "cachedResultName": "Linkes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R4aDD8O_4t09PgxYxxFK7WUIacokZTQojVQ4cJTRAu4/edit#gid=0"
        },
        "startIndex": "={{ $('Limit3').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2580,
        -720
      ],
      "id": "70b784eb-f696-4d05-a578-a34ffb747299",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MYJ51fHpcG8U7E9j",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ufPTZ6E78j6I48HC",
          "mode": "list",
          "cachedResultName": "asugoldenrams"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "_data",
              "displayName": "_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2940,
        -720
      ],
      "id": "6f5be0ab-5331-4291-96ae-4747b2840449",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"lists\": [\n    \"baseball\",\"mens-basketball\",\"football\",\"track-and-field\",\"womens-basketball\",\"womens-cross-country\", \"womens-soccer\",\"softball\",\"tennis\",\"womens-track-and-field\",\"womens-volleyball\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        -760
      ],
      "id": "8b189aa2-8a8a-4878-b055-827322fe7cda",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1700,
        -760
      ],
      "id": "4b3625f7-988d-435e-acfb-b3ea6588ced2",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b478ca12-1535-49b7-9379-87cc024fb241",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1840,
        -760
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $json[\"data\"] || \"\";\nconst output = [];\n\n// Helper: safely get a matched regex group and trim\nfunction safeMatch(html, regex, group = 1) {\n    const match = html.match(regex);\n    return match && match[group] ? decodeHtml(match[group].trim()) : null;\n}\n\n// Helper: decode HTML entities like &#39; → '\nfunction decodeHtml(str) {\n    return str.replace(/&#(\\d+);/g, (_, dec) => String.fromCharCode(dec))\n              .replace(/&quot;/g, '\"')\n              .replace(/&amp;/g, '&')\n              .replace(/&lt;/g, '<')\n              .replace(/&gt;/g, '>')\n              .replace(/&#x27;/g, \"'\")\n              .replace(/&apos;/g, \"'\");\n}\n\nlet year = \"UnknownYear\";\nlet sport = null;\n\n// Try <h2> tag\nconst headerMatch = html.match(/<h2[^>]*>(\\d{4}) ([^<]+?) Roster<\\/h2>/);\nif (headerMatch && headerMatch[1] && headerMatch[2]) {\n    year = headerMatch[1];\n    sport = decodeHtml(headerMatch[2].trim());\n}\n\n// Try meta tag\nif (!sport) {\n    const metaMatch = html.match(/<meta[^>]+content=\"(\\d{4})-?\\d{0,2}? ([^\"]+?) Roster\"/);\n    if (metaMatch && metaMatch[1] && metaMatch[2]) {\n        year = metaMatch[1];\n        sport = decodeHtml(metaMatch[2].trim());\n    }\n}\n\n// Try JS variable\nif (!sport) {\n    sport = safeMatch(html, /associated_sport\\s*=\\s*{[^}]*\"title\"\\s*:\\s*\"([^\"]+?)\"/);\n}\n\n// Try from HTML class\nif (!sport) {\n    const code = safeMatch(html, /<html[^>]+class=\"[^\"]*sport\\s+([a-z0-9\\-]+)[^\"]*\"/i);\n    const codeToSportMap = {\n        // Men's\n        \"baseball\": \"Baseball\",\n        \"bsb\": \"Baseball\",\n        \"mens-basketball\": \"Men's Basketball\",\n        \"mbkb\": \"Men's Basketball\",\n        \"mens-cross-country\": \"Men's Cross Country\",\n        \"mxc\": \"Men's Cross Country\",\n        \"mens-soccer\": \"Men's Soccer\",\n        \"msoc\": \"Men's Soccer\",\n        \"mens-golf\": \"Men's Golf\",\n        \"mgolf\": \"Men's Golf\",\n        \"mens-lacrosse\": \"Men's Lacrosse\",\n        \"mlax\": \"Men's Lacrosse\",\n        \"mens-swimming\": \"Men's Swimming\",\n        \"mens-track-and-field\": \"Men's Track and Field\",\n        \"mtrack\": \"Men's Track and Field\",\n        \"mens-tennis\": \"Men's Tennis\",\n        \"mten\": \"Men's Tennis\",\n\n        // Women's\n        \"womens-basketball\": \"Women's Basketball\",\n        \"wbkb\": \"Women's Basketball\",\n        \"womens-cross-country\": \"Women's Cross Country\",\n        \"wxc\": \"Women's Cross Country\",\n        \"womens-soccer\": \"Women's Soccer\",\n        \"wsoc\": \"Women's Soccer\",\n        \"womens-golf\": \"Women's Golf\",\n        \"wgolf\": \"Women's Golf\",\n        \"womens-tennis\": \"Women's Tennis\",\n        \"wten\": \"Women's Tennis\",\n        \"womens-track-and-field\": \"Women's Track and Field\",\n        \"wtrack\": \"Women's Track and Field\",\n        \"womens-volleyball\": \"Women's Volleyball\",\n        \"wvball\": \"Women's Volleyball\",\n        \"womens-lacrosse\": \"Women's Lacrosse\",\n        \"wlax\": \"Women's Lacrosse\",\n        \"womens-swimming\": \"Women's Swimming\",\n\n        // Other sports\n        \"softball\": \"Softball\",\n        \"sball\": \"Softball\",\n        \"tennis\": \"Tennis\",\n        \"track-and-field\": \"Track and Field\",\n        \"xc\": \"Cross Country\",\n        \"football\": \"Football\",\n        \"cheerleading\": \"Cheerleading\",\n        \"equestrian\": \"Equestrian\",\n        \"beach-volleyball\": \"Beach Volleyball\"\n    };\n\n    if (code) {\n        const normalized = code.toLowerCase();\n        sport = codeToSportMap[normalized] || normalized;\n    }\n}\n\n// Fallback\nif (!sport) sport = \"UnknownSport\";\n\n// Extract all player blocks\nconst playerBlocks = html.match(/<li class=\"sidearm-roster-player\"[\\s\\S]*?<\\/li>/g) || [];\n\nfor (const block of playerBlocks) {\n    const name = safeMatch(block, /aria-label=\"([^\"]+?) - View Full Bio\"/);\n    const academicYear = safeMatch(block, /<span class=\"sidearm-roster-player-academic-year[^>]*?\">([^<]+)<\\/span>/);\n    const prevSchool = safeMatch(block, /<span class=\"sidearm-roster-player-previous-school\">([^<]+)<\\/span>/);\n    const highSchool = safeMatch(block, /<span class=\"sidearm-roster-player-highschool\">([^<]+)<\\/span>/);\n    const hometown = safeMatch(block, /<span class=\"sidearm-roster-player-hometown\">([^<]+)<\\/span>/);\n\n    const school = prevSchool || highSchool;\n\n    if (name) {\n        const player = {\n            name,\n            sport,\n            rosterYear: parseInt(year),\n            academicYear,\n            school,\n            hometown,\n        };\n\n        const cleaned = Object.fromEntries(\n            Object.entries(player).filter(([_, value]) => value !== null && value !== \"\")\n        );\n\n        if (Object.keys(cleaned).length > 1) {\n            output.push(cleaned);\n        }\n    }\n}\n\nreturn [{ json: { players: output } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -1380
      ],
      "id": "32d0cd20-edc4-4368-8141-5da199432367",
      "name": "Code4"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e7132ef9-3773-4664-a348-5c24564589cf",
  "triggerCount": 2,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-06-23T12:14:47.852Z",
      "updatedAt": "2025-06-23T12:14:47.852Z",
      "role": "workflow:owner",
      "workflowId": "HHVqRIMlza5youod",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}