repo/workflows/LaBhXOFGnFYJkcJV.json
{
  "createdAt": "2025-02-19T08:04:47.684Z",
  "updatedAt": "2025-02-19T11:45:10.083Z",
  "id": "LaBhXOFGnFYJkcJV",
  "name": "Calendar",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f4a482e2-7e56-4c61-a79b-9bc5745c79b7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "abelabebe313@gmail.com",
          "mode": "list",
          "cachedResultName": "abelabebe313@gmail.com"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        220,
        0
      ],
      "id": "be3e3c22-4aa0-4816-8455-4ee1539187ce",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MhW6O9hhrj76Dwrb",
          "name": "Abel"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02e04efa-b3dc-4b16-b068-c9b43aeb847c",
              "name": "start.dateTime",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "602e4c31-07fb-47bb-8391-7be1a6e0f295",
              "name": "start.date",
              "value": "={{ $json.start.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "5853777c-a9df-4af8-b38e-f8d5dbb42e94",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "d2cca3eb-ab3d-4434-a1e1-3561278f4db4",
      "name": "Code"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        880,
        0
      ],
      "id": "9c2e74be-00a1-4974-9d61-a9193f7a0c60",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "xSmVOcvaz9VjhPXQ",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6e8a68d4-e64f-48f4-99dd-b3269934e401",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-08-20T07:32:18.192Z",
      "updatedAt": "2025-08-20T07:32:18.192Z",
      "role": "workflow:owner",
      "workflowId": "LaBhXOFGnFYJkcJV",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}