repo/workflows/mXUK4ljIocQON3j4.json
{
  "createdAt": "2025-09-10T04:52:37.357Z",
  "updatedAt": "2025-09-12T07:50:52.919Z",
  "id": "mXUK4ljIocQON3j4",
  "name": "cis-onboarding-step-3",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        640
      ],
      "id": "8b099b30-1fd5-48ef-9b8e-ddec14df224d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "onboarding_clients"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        496
      ],
      "id": "239ff8fd-dd65-46d7-8e83-f935406e3c23",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "hh3dnHsjI82CZcfO",
          "name": "Unnamed credential Yo"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getAll"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        288,
        736
      ],
      "id": "463be9d6-55e2-453f-9eea-99356c0b3aa8",
      "name": "Get many users",
      "webhookId": "f60a3992-1fbd-4110-a8ea-26134ba54b39",
      "credentials": {
        "slackApi": {
          "id": "f0uPnp9IrPnEE8We",
          "name": "cis-slack-yo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b52885f-6350-4f72-b959-eac8be29481a",
              "leftValue": "={{ $json.is_bot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "1d8a9aa8-fb0d-4c8c-a3b1-1c0205eea732",
              "leftValue": "={{ $json.name }}",
              "rightValue": "slackbot",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        736
      ],
      "id": "98ca2047-137d-4793-86d0-4d7edec30565",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "email",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        640
      ],
      "id": "b8dc67fd-fd9a-4a4e-825c-82af6afaf35f",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa3bbc4-ddf5-4018-a881-2ec01ee8b4ad",
              "name": "slack_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c276ad74-4026-4b6b-a646-7024a90598db",
              "name": "name",
              "value": "={{ $json.real_name }}",
              "type": "string"
            },
            {
              "id": "3e859ac6-714c-434d-894c-c82982167286",
              "name": "email",
              "value": "={{ $json.profile.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        736
      ],
      "id": "62f61146-1b9f-4b89-b941-96d7d6610e5a",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many users": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "df1500a6-8fad-45bf-af65-eacd0ce6b454",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-10T04:52:37.357Z",
      "updatedAt": "2025-09-10T04:52:37.357Z",
      "role": "workflow:owner",
      "workflowId": "mXUK4ljIocQON3j4",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}