repo/workflows/OIUeS0nhCtx30hli.json
{
  "createdAt": "2025-09-10T10:45:16.497Z",
  "updatedAt": "2025-09-30T12:42:00.779Z",
  "id": "OIUeS0nhCtx30hli",
  "name": "Drive watch",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VPbCBx1FDG99LZn94sSnA4CJ_D2PGpWE",
          "mode": "list",
          "cachedResultName": "Reports",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VPbCBx1FDG99LZn94sSnA4CJ_D2PGpWE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b14f34b3-ad13-4f81-bd13-40e96ed501db",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yAN7plSvHEZlFqiz",
          "name": "Google Drive account kefe2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "819c398f-e9c0-4312-8f9a-6e4ecdd39b71",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yAN7plSvHEZlFqiz",
          "name": "Google Drive account kefe2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        656,
        -16
      ],
      "id": "c7fb866b-257e-4731-a776-765c207176b4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "cis",
          "mode": "list",
          "cachedResultName": "cis"
        },
        "options": {
          "queryName": "match_cls"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        880,
        -16
      ],
      "id": "e9c8355d-7c8f-4224-be58-92cc9c8d5aa4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "hh3dnHsjI82CZcfO",
          "name": "Unnamed credential Yo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        928,
        192
      ],
      "id": "43e73c22-9b76-4bf7-ba6f-58f46e1accfc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "P97bW4SECej7SdA6",
          "name": "don't use this eric"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $('Extract from File').item.json.info.Title }}"
              },
              {
                "name": "source_type",
                "value": "drive"
              },
              {
                "name": "date",
                "value": "={{ $('Download file').item.json.modifiedTime }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('Download file').item.json.fullFileExtension }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Download file').item.json.originalFilename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1024,
        192
      ],
      "id": "cbb3c29f-0eb3-44ef-9f81-37d00903905c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Lovwv13QkQ5ABSe93iovTQnYJ3TpGs_R",
          "mode": "list",
          "cachedResultName": "Client Feedback",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Lovwv13QkQ5ABSe93iovTQnYJ3TpGs_R"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "42540908-88c5-4e97-a25a-71067de3bd40",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yAN7plSvHEZlFqiz",
          "name": "Google Drive account kefe2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rH80qX-Q9RtHkPao-HxJaZl7-GXJEQoj",
          "mode": "list",
          "cachedResultName": "Copy",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rH80qX-Q9RtHkPao-HxJaZl7-GXJEQoj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        336
      ],
      "id": "eebe8350-1d5d-4c48-a609-fc03df462caa",
      "name": "Google Drive Trigger2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yAN7plSvHEZlFqiz",
          "name": "Google Drive account kefe2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12XjIsbJsPCHnG-z6uDU0UsczhUrwpj-_",
          "mode": "list",
          "cachedResultName": "Lead Lists",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12XjIsbJsPCHnG-z6uDU0UsczhUrwpj-_"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        496
      ],
      "id": "0fcf830c-c920-41a8-881a-53fb9068f087",
      "name": "Google Drive Trigger3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yAN7plSvHEZlFqiz",
          "name": "Google Drive account kefe2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rnRq1COqi2SHQgWD_54HxA6zSmguvLrY",
          "mode": "list",
          "cachedResultName": "Strategy",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rnRq1COqi2SHQgWD_54HxA6zSmguvLrY"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        656
      ],
      "id": "2ac1e27d-d99b-4523-b4a2-22314167d266",
      "name": "Google Drive Trigger4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yAN7plSvHEZlFqiz",
          "name": "Google Drive account kefe2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b8f58fd4-e376-4977-a237-eb15271a05de"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "974dc914-3928-4d65-99d1-5194cf4bee35",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        0
      ],
      "id": "7b5db59d-fe82-4a57-9fab-19cd226f0ce7",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/docx/to/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2RAZhvZ0webnjp9kyIt7C6CmdgAJ7kN6"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "StoreFile",
              "value": "true"
            },
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        336
      ],
      "id": "b681a612-5593-4c68-970d-f64432803f28",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.Files[0].Url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        336
      ],
      "id": "24003428-e65c-4273-8627-225296e855e0",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger2": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger4": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-10-13T07:26:18Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-10-13T07:27:15Z"
    },
    "node:Google Drive Trigger2": {
      "lastTimeChecked": "2025-10-13T07:27:09Z"
    },
    "node:Google Drive Trigger3": {
      "lastTimeChecked": "2025-10-13T07:26:35Z"
    },
    "node:Google Drive Trigger4": {
      "lastTimeChecked": "2025-10-13T07:26:20Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "773cc795-a7be-438c-a3a4-f17a943ad2c9",
  "triggerCount": 5,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-10T10:45:16.497Z",
      "updatedAt": "2025-09-10T10:45:16.497Z",
      "role": "workflow:owner",
      "workflowId": "OIUeS0nhCtx30hli",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}