repo/workflows/P0TBN1umV97VvRbD.json
{
  "createdAt": "2025-02-04T22:54:30.889Z",
  "updatedAt": "2025-02-05T12:26:06.971Z",
  "id": "P0TBN1umV97VvRbD",
  "name": "RFP Move to Knowledge base",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.query.sheetURL }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        -280
      ],
      "id": "5c5d43b5-1820-4ed0-aca0-15d3b0a6f9f5",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Uu8fHmMcHyVMgg3q",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<script>window.close()</script>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -100,
        -280
      ],
      "id": "d441ceda-551d-4107-9eac-a9ef3744f82d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.query.sheetURL }}",
          "mode": "url"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JD03JB4PIINMaVDbUm3nSJraPO3iLE8I",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        120,
        -280
      ],
      "id": "5cfdc86b-c0d7-49c8-aa2e-f2b788cc6c20",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3lFSIi87pkeGGmOT",
          "name": "Yoni"
        }
      }
    },
    {
      "parameters": {
        "path": "d4a3d84a-4b46-407a-82bb-113024560869",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        -280
      ],
      "id": "0fe11136-e6ee-4614-8cd0-6102b975ec9c",
      "name": "Webhook",
      "webhookId": "d4a3d84a-4b46-407a-82bb-113024560869"
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f1ba4877-f40e-4087-9ac0-92dc158d3032",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-02-05T06:40:19.181Z",
      "updatedAt": "2025-02-05T06:40:19.181Z",
      "id": "JqCj5tAHj8mJnTwR",
      "name": "RFP"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-02-04T22:54:30.889Z",
      "updatedAt": "2025-02-04T22:54:30.889Z",
      "role": "workflow:owner",
      "workflowId": "P0TBN1umV97VvRbD",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}