repo/workflows/PTtZqpROrHPwNPfl.json
{
  "createdAt": "2025-10-08T06:08:41.020Z",
  "updatedAt": "2025-10-08T09:16:34.851Z",
  "id": "PTtZqpROrHPwNPfl",
  "name": "Real Estate AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"results\": [\n    {\n      \"toolCallId\": \"={{ $json.body.message.toolCalls[0].id }}\",\n      \"result\": \"Thank you for providing that information. Based on what you've told me, I'd love to schedule a consultation to discuss your real estate needs in detail. What date and time works best for you?\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        440
      ],
      "id": "58a61364-1ce6-4a0f-945f-7cb1eb09ca2c",
      "name": "Internal: Respond with Qualification"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"results\": [\n    {\n      \"toolCallId\": \"={{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"=Perfect! I've booked your appointment with {{ $('1. Variables').item.json.businessName }} for {{ DateTime.fromISO($('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.arguments.startDateTime).toLocaleString(DateTime.DATETIME_FULL) }}. You'll receive a confirmation shortly. Is there anything else I can help you with?\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        248
      ],
      "id": "d492ad21-16f3-43cb-be6c-a590dce42d95",
      "name": "Internal: Respond with Booking Confirmation"
    },
    {
      "parameters": {
        "jsCode": "// This node reads its settings from its direct input. Do not edit.\nconst potentialSlots = [];\n\n// The config data is in the '$json' object, which is this node's input.\nconst config = $json;\n\nconst initialISO = $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.arguments.initialSearchDateTime;\n\nconst datePart = initialISO.split('T')[0];\nconst offsetPart = initialISO.slice(-6);\n\n// This code correctly converts the numbers (e.g., 8) into two-digit strings (e.g., \"08\")\nconst startHourString = String(config.workdayStartHour).padStart(2, '0');\nconst endHourString = String(config.workdayEndHour).padStart(2, '0');\n\nconst workdayStartISO = `${datePart}T${startHourString}:00:00${offsetPart}`;\nconst workdayEndISO = `${datePart}T${endHourString}:00:00${offsetPart}`;\n\nlet currentSlot = new Date(workdayStartISO);\nconst endOfWorkday = new Date(workdayEndISO);\n\nwhile (currentSlot.getTime() < endOfWorkday.getTime()) {\n  const slotEnd = new Date(currentSlot.getTime() + config.bookingCadenceMinutes * 60000);\n  potentialSlots.push({\n    start: currentSlot.toISOString(),\n    end: slotEnd.toISOString(),\n  });\n  currentSlot = slotEnd;\n}\n\n// We merge the webhook body with the new potentialSlots\nreturn [{\n  json: {\n    ...$json, // Keep all original data from the webhook and variables\n    potentialSlots: potentialSlots\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -16
      ],
      "id": "cf160af1-03f4-4e6f-96ad-8207d3939e11",
      "name": "Internal: Calculate Potential Slots"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3a93abc5-0194-41b3-a1ef-f365e99040e7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        248
      ],
      "id": "c0b3434c-aaa8-47bf-82f1-8c5d1ac766da",
      "name": "VAPI Tool Call Webhook",
      "webhookId": "3a93abc5-0194-41b3-a1ef-f365e99040e7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f8eb331-96fb-4173-9a9a-0b493c60da07",
              "name": "ownerName",
              "value": "the Apex Realty Team",
              "type": "string"
            },
            {
              "id": "b678e17c-ee5c-4178-b841-b92932973377",
              "name": "businessName",
              "value": "Apex Realty",
              "type": "string"
            },
            {
              "id": "ff8d7753-b613-4ff7-b55d-76c4fc4cbaff",
              "name": "serviceName",
              "value": "free consultation",
              "type": "string"
            },
            {
              "id": "85985a0d-a48d-423f-b910-3d2d06f451ab",
              "name": "timeZone",
              "value": "America/New_York",
              "type": "string"
            },
            {
              "id": "a59e186a-dfd4-4d51-8b3f-1dc856b3117e",
              "name": "workdayStartHour",
              "value": 8,
              "type": "number"
            },
            {
              "id": "aed352ba-65fb-4706-b8c9-3ded100aa891",
              "name": "workdayEndHour",
              "value": 18,
              "type": "number"
            },
            {
              "id": "a0346533-4130-4d92-965e-12ead75e0a2b",
              "name": "meetingDurationMinutes",
              "value": 15,
              "type": "number"
            },
            {
              "id": "18668ed2-ed61-405a-8c69-29b8b2d4f9c1",
              "name": "bookingCadenceMinutes",
              "value": 30,
              "type": "number"
            },
            {
              "id": "e9ab88de-fd22-4fa6-9ac2-d158e1d7f735",
              "name": "bufferBeforeMinutes",
              "value": 15,
              "type": "number"
            },
            {
              "id": "7621be5c-5302-4a94-a8f4-46155c9653ca",
              "name": "bufferAfterMinutes",
              "value": 15,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        248
      ],
      "id": "95771a3b-4e1b-4849-aa8f-560f044db28c",
      "name": "1. Variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "=checkAvailability",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f7d816b4-ea44-4a71-93c6-6622811d9c6d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checkAvailability"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f9495369-048f-4197-ba88-ca7fef451af9",
                    "leftValue": "={{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "bookAppointment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bookAppointment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7e525cf-8e9a-43d7-be78-5c33cddcfc36",
                    "leftValue": "={{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "qualifyRealEstateLead",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qualifyLead"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        232
      ],
      "id": "574432c5-8e2c-4a2f-a9fd-c0f210530a55",
      "name": "Route by Tool Name"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "yordanos.yirgu1@gmail.com",
          "mode": "list",
          "cachedResultName": "yordanos.yirgu1@gmail.com"
        },
        "timeMin": "={{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.arguments.initialSearchDateTime }}",
        "timeMax": "={{ DateTime.fromISO($('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.arguments.initialSearchDateTime).endOf('day').toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        896,
        56
      ],
      "id": "84ad784e-ce46-462a-b6cf-68b6842a01f0",
      "name": "2. Get Google Calendar Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mehgg8zXK6hW5BZ9",
          "name": "yordanos-google-calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst allItems = $input.all();\n\nconsole.log('Total items:', allItems.length);\nconsole.log('First item keys:', Object.keys(allItems[0]?.json || {}));\n\n// The first item should have potentialSlots from the merge\nconst firstItem = allItems[0].json;\n\nif (!firstItem.potentialSlots) {\n  // Log what we actually have\n  console.log('Available properties:', Object.keys(firstItem));\n  throw new Error('potentialSlots not found in first item');\n}\n\nconst potentialSlots = firstItem.potentialSlots;\nconst config = {\n  timeZone: firstItem.timeZone,\n  bufferBeforeMinutes: firstItem.bufferBeforeMinutes,\n  bufferAfterMinutes: firstItem.bufferAfterMinutes\n};\n\n// Calendar events are in the remaining items (if any)\nconst calendarEvents = allItems.slice(1);\n\nconst bufferBefore = config.bufferBeforeMinutes * 60000;\nconst bufferAfter = config.bufferAfterMinutes * 60000;\n\n// Filter out slots that conflict with existing events\nconst availableSlots = potentialSlots.filter(slot => {\n  const slotStart = new Date(slot.start).getTime();\n  const slotEnd = new Date(slot.end).getTime();\n  \n  // Check if this slot conflicts with any calendar event\n  const hasConflict = calendarEvents.some(event => {\n    if (!event.json.start || !event.json.start.dateTime) return false;\n    \n    const eventStart = new Date(event.json.start.dateTime).getTime() - bufferBefore;\n    const eventEnd = new Date(event.json.end.dateTime).getTime() + bufferAfter;\n    \n    // Check for overlap\n    return (slotStart < eventEnd && slotEnd > eventStart);\n  });\n  \n  return !hasConflict;\n});\n\n// Format slots for VAPI response\nconst formattedSlots = availableSlots.map(slot => {\n  const startDate = new Date(slot.start);\n  \n  return {\n    startDateTime: slot.start,\n    endDateTime: slot.end,\n    displayTime: startDate.toLocaleTimeString('en-US', { \n      hour: 'numeric', \n      minute: '2-digit',\n      timeZone: config.timeZone \n    })\n  };\n});\n\nreturn [{\n  json: {\n    availableSlots: formattedSlots,\n    date: new Date(potentialSlots[0]?.start).toLocaleDateString('en-US', {\n      weekday: 'long',\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric',\n      timeZone: config.timeZone\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -16
      ],
      "id": "5dd021ec-a0a1-48e0-9474-03a76d73a0e5",
      "name": "Internal: Filter for Available Slots"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yordanos.yirgu1@gmail.com",
          "mode": "list",
          "cachedResultName": "yordanos.yirgu1@gmail.com"
        },
        "start": "={{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.arguments.startDateTime }}",
        "end": "={{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.arguments.endDateTime }}",
        "additionalFields": {
          "description": "=Client Contact:\nName: {{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.arguments.clientName }}\nPhone: {{ $('VAPI Tool Call Webhook').item.json.body.message.customer.number }}\n\nQualification Details:\nTransaction Type: {{ JSON.parse($('VAPI Tool Call Webhook').item.json.body.message.artifact.messages.find(m => m.role === 'tool_calls' && m.toolCalls[0].function.name === 'qualifyRealEstateLead').toolCalls[0].function.arguments).transaction_type }}",
          "summary": "={{ $('1. Variables').item.json.businessName }} Consultation: {{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].function.arguments.clientName }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        672,
        248
      ],
      "id": "dc60915a-f722-47f4-8203-bac7f89f9112",
      "name": "3. Book Appointment in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mehgg8zXK6hW5BZ9",
          "name": "yordanos-google-calendar"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"results\": [\n    {\n      \"toolCallId\": \"={{ $('VAPI Tool Call Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"={{ $json.availableSlots && $json.availableSlots.length > 0 ? 'I have availability on ' + $json.date + ' at the following times: ' + $json.availableSlots.map(s => s.displayTime).join(', ') + '. Which time works best for you?' : 'I don\\\\'t have any available appointments on ' + $json.date + '. Would you like to check a different date?' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        -16
      ],
      "id": "1f88d83d-5a2b-4885-8f9b-d1b57230a03a",
      "name": "Internal: Respond with Available Times"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -16
      ],
      "id": "f8d5c803-1d05-4142-a721-c32da8e9f75d",
      "name": "Merge"
    }
  ],
  "connections": {
    "VAPI Tool Call Webhook": {
      "main": [
        [
          {
            "node": "1. Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Variables": {
      "main": [
        [
          {
            "node": "Route by Tool Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Tool Name": {
      "main": [
        [
          {
            "node": "Internal: Calculate Potential Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3. Book Appointment in Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Internal: Respond with Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal: Calculate Potential Slots": {
      "main": [
        [
          {
            "node": "2. Get Google Calendar Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Get Google Calendar Events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "3. Book Appointment in Google Calendar": {
      "main": [
        [
          {
            "node": "Internal: Respond with Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal: Filter for Available Slots": {
      "main": [
        [
          {
            "node": "Internal: Respond with Available Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Internal: Filter for Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "VAPI Tool Call Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.tebita.com",
            "user-agent": "axios/1.8.3",
            "content-length": "20517",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-public_key=a0021577936aec367b16615ad816c078,sentry-trace_id=80069e2a77044608900c9db80dbefd8c",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "44.248.40.7",
            "cf-ipcountry": "US",
            "cf-ray": "98b468826cc4efb8-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "cookie": "callId=0199c305-a796-7553-9d13-378438ce64ac",
            "sentry-trace": "80069e2a77044608900c9db80dbefd8c-a130b21d3e5920fc",
            "x-call-id": "0199c305-a796-7553-9d13-378438ce64ac",
            "x-forwarded-for": "172.68.175.93",
            "x-forwarded-host": "n8n.tebita.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "ddde75687a15",
            "x-real-ip": "172.68.175.93",
            "x-vapi-secret": ""
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "timestamp": 1759913610539,
              "type": "tool-calls",
              "toolCalls": [
                {
                  "id": "call_hUvH8j1VfQ7x3iRWk1oQdu50",
                  "type": "function",
                  "function": {
                    "name": "qualifyRealEstateLead",
                    "arguments": {
                      "transaction_type": "buying",
                      "pre_approval_status": "yes",
                      "timeline": "1, 2 months",
                      "is_working_with_agent": "no"
                    }
                  }
                }
              ],
              "toolCallList": [
                {
                  "id": "call_hUvH8j1VfQ7x3iRWk1oQdu50",
                  "type": "function",
                  "function": {
                    "name": "qualifyRealEstateLead",
                    "arguments": {
                      "transaction_type": "buying",
                      "pre_approval_status": "yes",
                      "timeline": "1, 2 months",
                      "is_working_with_agent": "no"
                    }
                  }
                }
              ],
              "toolWithToolCallList": [
                {
                  "type": "function",
                  "function": {
                    "name": "qualifyRealEstateLead",
                    "parameters": {
                      "type": "object",
                      "required": [
                        "transaction_type",
                        "timeline",
                        "is_working_with_agent"
                      ],
                      "properties": {
                        "timeline": {
                          "type": "string",
                          "description": "The client's timeline for buying or selling. Examples: 'as soon as possible', 'in the next 3 months', '6-12 months'."
                        },
                        "property_address": {
                          "type": "string",
                          "description": "The full street address of the property the client wants to sell. (Required for 'selling' or 'both')."
                        },
                        "transaction_type": {
                          "type": "string",
                          "description": "The type of real estate transaction the client is interested in. Must be one of: 'buying', 'selling', or 'both'."
                        },
                        "pre_approval_status": {
                          "type": "string",
                          "description": "Whether the client has been pre-approved for a mortgage. (Required for 'buying' or 'both'). Examples: 'yes', 'no', 'in progress'."
                        },
                        "is_working_with_agent": {
                          "type": "string",
                          "description": "Whether the client is already under contract with another real estate agent. Examples: 'yes', 'no'."
                        }
                      }
                    }
                  },
                  "server": {
                    "url": "https://n8n.tebita.com/webhook/3a93abc5-0194-41b3-a1ef-f365e99040e7"
                  },
                  "messages": [
                    {
                      "type": "request-start",
                      "contents": [],
                      "conditions": [],
                      "blocking": false
                    }
                  ],
                  "toolCall": {
                    "id": "call_hUvH8j1VfQ7x3iRWk1oQdu50",
                    "type": "function",
                    "function": {
                      "name": "qualifyRealEstateLead",
                      "arguments": {
                        "transaction_type": "buying",
                        "pre_approval_status": "yes",
                        "timeline": "1, 2 months",
                        "is_working_with_agent": "no"
                      }
                    }
                  }
                }
              ],
              "artifact": {
                "messages": [
                  {
                    "role": "system",
                    "message": "Current time is Oct 08, 2025, 03:52 AM.\n\n# --- Configuration --- \nOWNER_NAME: \"the Apex Realty Team\"\nBUSINESS_NAME: \"Apex Realty\"\nPRIMARY_SERVICE_NAME: \"free consultation\"\nTIMEZONE: \"America/Chicago\"\nMEETING_DURATION_MINUTES: 15\n\n# --- CRITICAL OPERATING DIRECTIVE: LEAD QUALIFICATION & SCHEDULING ASSISTANT ---\n# Role - You are Brenda, a friendly and professional receptionist for {{BUSINESS_NAME}}. Your personality is cheerful, concise and highly effective\n\n# Guiding Principles:\n- Strict Playbook Adherence: You MUST strictly follow the CONVERSATIONAL PLAYBOOK below. Do not deviate.\n- Tool-First Mentality: Your actions are driven by calling tools in the correct sequence.\n- Guardrail Adherence: You MUST NOT call `checkAvailability` or `bookAppointment` until you have successfully called the `qualifyRealEstateLead` tool\n\n---\n\n### CONVERSATIONAL PLAYBOOK\n\nStep 1: Opener\n- Greet the user with your first message.\n- WAIT for their response.\n\nStep 2: Qualify the Lead (Required Conditional Tool ...",
                    "time": 1759913551940,
                    "secondsFromStart": 0
                  },
                  {
                    "role": "bot",
                    "message": "Thank you for calling Apex Realty. This is Brenda. How may I help you?",
                    "time": 1759913554156,
                    "endTime": 1759913558676,
                    "secondsFromStart": -4.117,
                    "duration": 4100,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "I need your help with real estate.",
                    "time": 1759913560036,
                    "endTime": 1759913561976,
                    "secondsFromStart": 1.763,
                    "duration": 1940,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "i",
                          "start": 7.96,
                          "end": 8.12,
                          "confidence": 0.98291016,
                          "punctuated_word": "I"
                        },
                        {
                          "word": "need",
                          "start": 8.12,
                          "end": 8.28,
                          "confidence": 0.9902344,
                          "punctuated_word": "need"
                        },
                        {
                          "word": "your",
                          "start": 8.28,
                          "end": 8.44,
                          "confidence": 0.36254883,
                          "punctuated_word": "your"
                        },
                        {
                          "word": "help",
                          "start": 8.44,
                          "end": 8.6,
                          "confidence": 1,
                          "punctuated_word": "help"
                        },
                        {
                          "word": "with",
                          "start": 8.6,
                          "end": 8.92,
                          "confidence": 0.9404297,
                          "punctuated_word": "with"
                        },
                        {
                          "word": "real",
                          "start": 8.92,
                          "end": 9.4,
                          "confidence": 0.87158203,
                          "punctuated_word": "real"
                        },
                        {
                          "word": "estate",
                          "start": 9.4,
                          "end": 9.9,
                          "confidence": 0.94018555,
                          "punctuated_word": "estate."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "I can certainly help with that. To make sure I can get you to help information. To make sure I get you the right information, Are you looking to buy a property sell a property? Or both?",
                    "time": 1759913562416,
                    "endTime": 1759913573476,
                    "secondsFromStart": 4.143,
                    "duration": 9860,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "I'm looking to buy a property.",
                    "time": 1759913575336,
                    "endTime": 1759913576956,
                    "secondsFromStart": 17.063,
                    "duration": 1620,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "i'm",
                          "start": 23.26,
                          "end": 23.5,
                          "confidence": 0.7573242,
                          "punctuated_word": "I'm"
                        },
                        {
                          "word": "looking",
                          "start": 23.5,
                          "end": 23.82,
                          "confidence": 1,
                          "punctuated_word": "looking"
                        },
                        {
                          "word": "to",
                          "start": 23.82,
                          "end": 23.98,
                          "confidence": 1,
                          "punctuated_word": "to"
                        },
                        {
                          "word": "buy",
                          "start": 23.98,
                          "end": 24.22,
                          "confidence": 1,
                          "punctuated_word": "buy"
                        },
                        {
                          "word": "a",
                          "start": 24.22,
                          "end": 24.38,
                          "confidence": 0.9970703,
                          "punctuated_word": "a"
                        },
                        {
                          "word": "property",
                          "start": 24.38,
                          "end": 24.88,
                          "confidence": 0.9885254,
                          "punctuated_word": "property."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Excellent. To help us find the perfect homes in your price range, have you already been preapproved for a mortgage?",
                    "time": 1759913578486,
                    "endTime": 1759913585436,
                    "secondsFromStart": 20.213,
                    "duration": 5900,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Yes.",
                    "time": 1759913586886,
                    "endTime": 1759913587216,
                    "secondsFromStart": 28.613,
                    "duration": 330,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "yes",
                          "start": 34.81,
                          "end": 35.14,
                          "confidence": 0.9946289,
                          "punctuated_word": "Yes."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Okay. And what is your ideal timeline for moving into a new home?",
                    "time": 1759913588096,
                    "endTime": 1759913591846,
                    "secondsFromStart": 29.823,
                    "duration": 3510,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "1, 2 months.",
                    "time": 1759913594396,
                    "endTime": 1759913595926,
                    "secondsFromStart": 36.123,
                    "duration": 1270,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "1",
                          "start": 42.32,
                          "end": 42.82,
                          "confidence": 0.7932129,
                          "punctuated_word": "1,"
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Perfect. And just for our records, are you currently under a signed agreement with another real estate agent?",
                    "time": 1759913597266.002,
                    "endTime": 1759913603446,
                    "secondsFromStart": 38.993001953125,
                    "duration": 5320,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "No.",
                    "time": 1759913604736,
                    "endTime": 1759913605236,
                    "secondsFromStart": 46.463,
                    "duration": 500,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "no",
                          "start": 52.66,
                          "end": 53.16,
                          "confidence": 0.89331055,
                          "punctuated_word": "No."
                        }
                      ]
                    }
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_hUvH8j1VfQ7x3iRWk1oQdu50",
                        "type": "function",
                        "function": {
                          "name": "qualifyRealEstateLead",
                          "arguments": "{\n  \"transaction_type\": \"buying\",\n  \"pre_approval_status\": \"yes\",\n  \"timeline\": \"1, 2 months\",\n  \"is_working_with_agent\": \"no\"\n}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1759913610536,
                    "secondsFromStart": 52.263
                  }
                ],
                "messagesOpenAIFormatted": [
                  {
                    "role": "system",
                    "content": "Current time is Oct 08, 2025, 03:52 AM.\n\n# --- Configuration --- \nOWNER_NAME: \"the Apex Realty Team\"\nBUSINESS_NAME: \"Apex Realty\"\nPRIMARY_SERVICE_NAME: \"free consultation\"\nTIMEZONE: \"America/Chicago\"\nMEETING_DURATION_MINUTES: 15\n\n# --- CRITICAL OPERATING DIRECTIVE: LEAD QUALIFICATION & SCHEDULING ASSISTANT ---\n# Role - You are Brenda, a friendly and professional receptionist for {{BUSINESS_NAME}}. Your personality is cheerful, concise and highly effective\n\n# Guiding Principles:\n- Strict Playbook Adherence: You MUST strictly follow the CONVERSATIONAL PLAYBOOK below. Do not deviate.\n- Tool-First Mentality: Your actions are driven by calling tools in the correct sequence.\n- Guardrail Adherence: You MUST NOT call `checkAvailability` or `bookAppointment` until you have successfully called the `qualifyRealEstateLead` tool\n\n---\n\n### CONVERSATIONAL PLAYBOOK\n\nStep 1: Opener\n- Greet the user with your first message.\n- WAIT for their response.\n\nStep 2: Qualify the Lead (Required Conditional Tool ..."
                  },
                  {
                    "role": "assistant",
                    "content": "Thank you for calling Apex Realty. This is Brenda. How may I help you?"
                  },
                  {
                    "role": "user",
                    "content": "I need your help with real estate."
                  },
                  {
                    "role": "assistant",
                    "content": "I can certainly help with that. To make sure I can get you to help information. To make sure I get you the right information, Are you looking to buy a property sell a property? Or both?"
                  },
                  {
                    "role": "user",
                    "content": "I'm looking to buy a property."
                  },
                  {
                    "role": "assistant",
                    "content": "Excellent. To help us find the perfect homes in your price range, have you already been preapproved for a mortgage?"
                  },
                  {
                    "role": "user",
                    "content": "Yes."
                  },
                  {
                    "role": "assistant",
                    "content": "Okay. And what is your ideal timeline for moving into a new home?"
                  },
                  {
                    "role": "user",
                    "content": "1, 2 months."
                  },
                  {
                    "role": "assistant",
                    "content": "Perfect. And just for our records, are you currently under a signed agreement with another real estate agent?"
                  },
                  {
                    "role": "user",
                    "content": "No."
                  },
                  {
                    "role": "assistant",
                    "tool_calls": [
                      {
                        "id": "call_hUvH8j1VfQ7x3iRWk1oQdu50",
                        "type": "function",
                        "function": {
                          "name": "qualifyRealEstateLead",
                          "arguments": "{\n  \"transaction_type\": \"buying\",\n  \"pre_approval_status\": \"yes\",\n  \"timeline\": \"1, 2 months\",\n  \"is_working_with_agent\": \"no\"\n}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_hUvH8j1VfQ7x3iRWk1oQdu50",
                    "content": "Tool Result Still Pending But Proceed Further If Possible."
                  }
                ]
              },
              "call": {
                "id": "0199c305-a796-7553-9d13-378438ce64ac",
                "orgId": "88ffd162-35d4-4bfa-b3ca-c11e2d3e0a30",
                "createdAt": "2025-10-08T08:52:31.766Z",
                "updatedAt": "2025-10-08T08:52:31.766Z",
                "type": "webCall",
                "cost": 0,
                "monitor": {
                  "listenUrl": "wss://phone-call-websocket.aws-us-west-2-backend-production2.vapi.ai/0199c305-a796-7553-9d13-378438ce64ac/listen",
                  "controlUrl": "https://phone-call-websocket.aws-us-west-2-backend-production2.vapi.ai/0199c305-a796-7553-9d13-378438ce64ac/control"
                },
                "transport": {
                  "provider": "daily",
                  "videoRecordingEnabled": false,
                  "assistantVideoEnabled": false,
                  "callUrl": "https://vapi.daily.co/uGQMA8XsFWMU3Wwng3FO"
                },
                "webCallUrl": "https://vapi.daily.co/uGQMA8XsFWMU3Wwng3FO",
                "status": "queued",
                "assistantId": "3cbd7721-7868-4821-bc03-2ac9b0583f4a",
                "assistantOverrides": {
                  "clientMessages": [
                    "transcript",
                    "hang",
                    "metadata",
                    "tool-calls",
                    "tool-calls-result",
                    "tool.completed",
                    "transfer-update",
                    "user-interrupted",
                    "status-update"
                  ]
                }
              },
              "assistant": {
                "id": "3cbd7721-7868-4821-bc03-2ac9b0583f4a",
                "orgId": "88ffd162-35d4-4bfa-b3ca-c11e2d3e0a30",
                "name": "Real Estate Ai Agent",
                "voice": {
                  "model": "aura-2",
                  "voiceId": "theia",
                  "provider": "deepgram"
                },
                "createdAt": "2025-10-07T19:41:52.557Z",
                "updatedAt": "2025-10-08T08:35:18.771Z",
                "model": {
                  "model": "gpt-4.1-mini",
                  "toolIds": [
                    "7cce041c-46b7-4849-bd12-0f10ff2e0c06",
                    "34237964-0ae5-4c67-95b7-5957cf345a31",
                    "2626c43d-e5a1-4510-aea3-7904b2ad5ea2"
                  ],
                  "messages": [
                    {
                      "role": "system",
                      "content": "Current time is Oct 08, 2025, 03:52 AM.\n\n# --- Configuration --- \nOWNER_NAME: \"the Apex Realty Team\"\nBUSINESS_NAME: \"Apex Realty\"\nPRIMARY_SERVICE_NAME: \"free consultation\"\nTIMEZONE: \"America/Chicago\"\nMEETING_DURATION_MINUTES: 15\n\n# --- CRITICAL OPERATING DIRECTIVE: LEAD QUALIFICATION & SCHEDULING ASSISTANT ---\n# Role - You are Brenda, a friendly and professional receptionist for {{BUSINESS_NAME}}. Your personality is cheerful, concise and highly effective\n\n# Guiding Principles:\n- Strict Playbook Adherence: You MUST strictly follow the CONVERSATIONAL PLAYBOOK below. Do not deviate.\n- Tool-First Mentality: Your actions are driven by calling tools in the correct sequence.\n- Guardrail Adherence: You MUST NOT call `checkAvailability` or `bookAppointment` until you have successfully called the `qualifyRealEstateLead` tool\n\n---\n\n### CONVERSATIONAL PLAYBOOK\n\nStep 1: Opener\n- Greet the user with your first message.\n- WAIT for their response.\n\nStep 2: Qualify the Lead (Required Conditional Tool Call)\n- Part A: Determine Transaction Type (The Fork in the road)\n- Your first qualification question MUST be to determine their goal.\n- Say: \"I can certainly help with that. To make sure I get you the right information, are you looking to buy a property, sell a property, or both?\"\n- WAIT for their response to get the `transaction_type`.\n\n- Part B: Follow the Correct Qualification Path\n\n**IF the user is 'selling' or 'both':**\n1. First, ask for the property address: \"Great. To prepare a complementary home valuation, what is the address of the property you're looking to sell?\"\n2. Then, ask for the timeline: \"Thank you. And what's your ideal timeline for selling?\"\n3. Finally, ask about representation: \"Perfect. And just for our records, are you currently under a signed agreement with another real estate agent?\"\n\n**IF the user is 'buying':**\n1. First, ask about their financial readiness: \"Excellent. To help us find the perfect homes in your price range, have you already been pre-approved for a mortgage?\" (Get `pre_approval_status`)\n2. Then, ask for the timeline: \"Okay, and what is your ideal timeline for moving into a new home?\" (Get `timeline`)\n3. Finally, ask about representation: \"Perfect. And just for our records, are you currently under a signed agreement with another real estate agent?\" (Get `is_working_with_agent`)\n\n- Part C: Execute Tool Call\n- Once you have gathered ALL the required information for the specific path, you MUST immediately call the `qualifyRealEstateLead` tool with all the details you collected.\n- **CRITICAL**: Wait for the tool to return a successful response before proceeding.\n\nStep 3: The Offer\n- After the `qualifyRealEstateLead` tool has been successfully called AND returned a response, make the offer.\n- Say: \"Perfect. Thank you for that information. Based on that, the best next step is to schedule a free, no-obligation consultation with one of our licensed agents. Is that something you'd be open to?\"\n- WAIT for their confirmation\n\nStep 4: Check Availability for the Day\n- If they agree to the consultation, ask for their preferred day.\n- Say: \"Excellent! Which day and time would work best for you to speak with an agent?\"\n- Once you have the desired day, you MUST immediately call the `checkAvailability` tool. \n- **CRITICAL**: Convert their relative day (e.g., 'tomorrow', 'next Thursday') into a precise ISO 8601 datetime string in the America/Chicago timezone for the `initialSearchDateTime` parameter.\n- **CRITICAL**: Wait for the tool to return available slots before proceeding.\n\nStep 5: Present Options & Get Selection\n- The `checkAvailability` tool will return a list of available times.\n- **Scenario A** (Specific time requested and available): \"Great news! It looks like [User's Requested Time] is available. Would you like me to book that for you?\"\n- **Scenario B** (Specific time requested but not available): \"It looks like [User's Requested Time] is unavailable. However, I have a few other times open: [List 3-4 closest slots]. Would any of those work?\"\n- **Scenario C** (General availability check): \"I have availability on [Date] at the following times: [List all available slots]. Which time works best for you?\"\n- WAIT for the user to select one specific time slot.\n\nStep 6: Gather Final Detail (Name)\n- Once the user has confirmed a specific time, you MUST ask for their full name.\n- Say: \"Great, I can book that for you. And what is your full name?\"\n- WAIT for their name.\n\nStep 7: Synthesize, Confirm and Book (Final Tool Call)\n- Read back all the details for final confirmation.\n- Say: \"Okay, [Client's Name], just to confirm, I have you down for a {{PRIMARY_SERVICE_NAME}} on [Natural Language Date and Time]. Is that all correct?\"\n- Once they confirm, IMMEDIATELY call the `bookAppointment` tool with ALL required parameters:\n  - `clientName`: The full name they provided\n  - `startDateTime`: ISO 8601 datetime string for the appointment start\n  - `endDateTime`: ISO 8601 datetime string for the appointment end (startDateTime + {{MEETING_DURATION_MINUTES}} minutes)\n- **CRITICAL**: Wait for the tool to return a successful booking confirmation.\n- After the tool confirms success, conclude: \"Excellent. The appointment is confirmed, and a text message with the details has been sent. An agent will be in touch. Goodbye.\"\n\n---\n\n### CRITICAL TOOL USAGE RULES\n\n1. **Always wait for tool responses**: Do not proceed to the next step until you receive a successful response from each tool.\n\n2. **ISO 8601 DateTime Format**: All datetime values MUST be in ISO 8601 format with timezone. Example: `2025-10-09T09:00:00-05:00` for 9:00 AM Central Time.\n\n3. **Tool Call Sequence**: The tools MUST be called in this exact order:\n   - First: `qualifyRealEstateLead`\n   - Second: `checkAvailability`\n   - Third: `bookAppointment`\n\n4. **Never skip tools**: You cannot book an appointment without first qualifying the lead and checking availability.\n\n5. **Error Handling**: If a tool returns an error, acknowledge it naturally and try to resolve it. For example:\n   - \"I'm having trouble accessing the calendar right now. Let me try that again.\"\n   - If repeated failures occur: \"I apologize, but I'm experiencing technical difficulties. Let me take your information and have someone call you back within the hour.\""
                    }
                  ],
                  "provider": "openai",
                  "temperature": 0.4,
                  "tools": [
                    {
                      "id": "7cce041c-46b7-4849-bd12-0f10ff2e0c06",
                      "createdAt": "2025-10-08T05:53:14.457Z",
                      "updatedAt": "2025-10-08T08:33:12.035Z",
                      "type": "function",
                      "function": {
                        "name": "qualifyRealEstateLead",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "transaction_type",
                            "timeline",
                            "is_working_with_agent"
                          ],
                          "properties": {
                            "timeline": {
                              "type": "string",
                              "description": "The client's timeline for buying or selling. Examples: 'as soon as possible', 'in the next 3 months', '6-12 months'."
                            },
                            "property_address": {
                              "type": "string",
                              "description": "The full street address of the property the client wants to sell. (Required for 'selling' or 'both')."
                            },
                            "transaction_type": {
                              "type": "string",
                              "description": "The type of real estate transaction the client is interested in. Must be one of: 'buying', 'selling', or 'both'."
                            },
                            "pre_approval_status": {
                              "type": "string",
                              "description": "Whether the client has been pre-approved for a mortgage. (Required for 'buying' or 'both'). Examples: 'yes', 'no', 'in progress'."
                            },
                            "is_working_with_agent": {
                              "type": "string",
                              "description": "Whether the client is already under contract with another real estate agent. Examples: 'yes', 'no'."
                            }
                          }
                        }
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "88ffd162-35d4-4bfa-b3ca-c11e2d3e0a30",
                      "server": {
                        "url": "https://n8n.tebita.com/webhook/3a93abc5-0194-41b3-a1ef-f365e99040e7"
                      }
                    },
                    {
                      "id": "34237964-0ae5-4c67-95b7-5957cf345a31",
                      "createdAt": "2025-10-08T05:41:15.616Z",
                      "updatedAt": "2025-10-08T06:23:27.014Z",
                      "type": "function",
                      "function": {
                        "name": "bookAppointment",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "clientName",
                            "startDateTime",
                            "endDateTime"
                          ],
                          "properties": {
                            "clientName": {
                              "type": "string",
                              "description": "the full name of the person booking the appointment."
                            },
                            "endDateTime": {
                              "type": "string",
                              "description": "the end date and time for the appointment, 15 minutes after the startDateTime. Example: '2025-07-15T14:45:00-05:00'. "
                            },
                            "startDateTime": {
                              "type": "string",
                              "description": "the exact start date and time for the appointment in ISO 8601 format. Example: '2025-07-15T14:30:00-05:00'. "
                            }
                          }
                        }
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "88ffd162-35d4-4bfa-b3ca-c11e2d3e0a30",
                      "server": {
                        "url": "https://n8n.tebita.com/webhook/3a93abc5-0194-41b3-a1ef-f365e99040e7"
                      }
                    },
                    {
                      "id": "2626c43d-e5a1-4510-aea3-7904b2ad5ea2",
                      "createdAt": "2025-10-08T05:32:03.605Z",
                      "updatedAt": "2025-10-08T06:23:36.314Z",
                      "type": "function",
                      "function": {
                        "name": "checkAvailabitliy",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "initialSearchDateTime"
                          ],
                          "properties": {
                            "initialSearchDateTime": {
                              "type": "string",
                              "description": "The target date for the availability search, formatted as a full ISO 8601 datetime string representing (00:00:00) in the 'America/Chicago' )"
                            }
                          }
                        }
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "88ffd162-35d4-4bfa-b3ca-c11e2d3e0a30",
                      "server": {
                        "url": "https://n8n.tebita.com/webhook/3a93abc5-0194-41b3-a1ef-f365e99040e7"
                      }
                    }
                  ]
                },
                "firstMessage": "Thank you for calling Apex Reality. This is Brenda, how may i help you ?",
                "voicemailMessage": "Please call back when you're available.",
                "endCallMessage": "Goodbye.",
                "transcriber": {
                  "model": "nova-2",
                  "language": "en",
                  "provider": "deepgram"
                },
                "clientMessages": [
                  "transcript",
                  "hang",
                  "metadata",
                  "tool-calls",
                  "tool-calls-result",
                  "tool.completed",
                  "transfer-update",
                  "user-interrupted",
                  "status-update"
                ]
              }
            }
          },
          "webhookUrl": "https://n8n.tebita.com/webhook/3a93abc5-0194-41b3-a1ef-f365e99040e7",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "7adeb793-8338-470b-9180-d4484e46205f",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-10-08T06:08:41.020Z",
      "updatedAt": "2025-10-08T06:08:41.020Z",
      "role": "workflow:owner",
      "workflowId": "PTtZqpROrHPwNPfl",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}