repo/workflows/RZsw47KfVkygfxxJ.json
{
  "createdAt": "2025-02-24T14:00:30.946Z",
  "updatedAt": "2025-02-26T13:55:48.603Z",
  "id": "RZsw47KfVkygfxxJ",
  "name": "My workflow 14",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9012812512",
        "events": [
          "taskCreated",
          "taskUpdated"
        ],
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        -100
      ],
      "id": "9aee2af8-0ecb-4861-95d0-c40329814ce0",
      "name": "ClickUp Trigger",
      "webhookId": "a6b469c8-cb80-4f1a-b4ca-0df0d9ff59ca",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "mkfFonbqQCBPZvVK",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a45c488-9dd2-4e22-9d67-c292460f5765",
              "name": "history_items[0].custom_field.name",
              "value": "={{ $json.history_items[0].custom_field.name }}",
              "type": "string"
            },
            {
              "id": "e227b1c1-27a5-48ee-8ea7-38721170ee7c",
              "name": "history_items[0].custom_field.description",
              "value": "={{ $json.history_items[0].custom_field.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -100
      ],
      "id": "13952f1e-51d4-4212-bad5-5c7e045b02a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('ClickUp Trigger').item.json.history_items[0].custom_field.name }}",
                    "rightValue": "jarvis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jarvis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c37bb906-b6f3-4b72-a328-339c17e8b495",
                    "leftValue": "={{ $('ClickUp Trigger').item.json.history_items[0].custom_field.name }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        100,
        -100
      ],
      "id": "7144bdc5-72d1-47de-a95b-ec36051e7b57",
      "name": "Switch"
    }
  ],
  "connections": {
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:ClickUp Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4e31c9e2-489e-4da4-be1d-9e419563a7b7",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-02-24T14:00:30.946Z",
      "updatedAt": "2025-02-24T14:00:30.946Z",
      "role": "workflow:owner",
      "workflowId": "RZsw47KfVkygfxxJ",
      "projectId": "hv3RoiUVwxA7lyyB",
      "project": {
        "createdAt": "2025-02-05T08:00:32.485Z",
        "updatedAt": "2025-02-05T08:01:09.976Z",
        "id": "hv3RoiUVwxA7lyyB",
        "name": "Beamlak Adane <bnobodygetmoney@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    },
    {
      "createdAt": "2025-09-05T11:12:38.164Z",
      "updatedAt": "2025-09-05T11:12:38.164Z",
      "role": "workflow:owner",
      "workflowId": "RZsw47KfVkygfxxJ",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}