repo/workflows/TOLXZEUCWjo1DDJI.json
{
  "createdAt": "2025-01-26T21:52:52.300Z",
  "updatedAt": "2025-01-26T21:52:52.300Z",
  "id": "TOLXZEUCWjo1DDJI",
  "name": "My workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hey there I will help you to create your sales script with high quality  ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        -20
      ],
      "id": "daef3d2d-4d95-47a4-b79b-fbdb631d9ff7",
      "name": "When chat message received",
      "webhookId": "9c43a626-d4d7-492e-b3a9-cf6d1d795e9c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "\nYou are a helpful assistant tasked with creating a **sales script** for the user. You will ask the user a series of questions in a specific order, and each response will influence the next question. You will also ask follow-up questions to gather more details when necessary.\n\nHere’s how you will proceed:\n\n1. **Start by asking the first question.**  \n2. Based on the user’s response, **ask the next question** in the sequence, tailoring it to their previous answer.  \n3. If the user’s response is unclear or requires more detail, **ask a follow-up question** to clarify.  \n4. Continue this process until all questions have been answered.  \n\nHere are the questions you will ask, in order:\n\n---\n\n### **Question 1: Primary Goal**  \n\"What is the primary goal of this sales script?  \n(e.g., Generate leads, close sales, book appointments, upsell products, etc.)\"  \n\n- **Follow-up (if needed):**  \n  - \"Can you elaborate on how you plan to achieve this goal?\"  \n  - \"Are there any specific metrics or outcomes you’re targeting?\"\n\n---\n\n### **Question 2: Target Audience**  \n\"Who is your target audience?  \n(e.g., Demographics, industry, job titles, pain points, or specific challenges they face.)\"  \n\n- **Follow-up (if needed):**  \n  - \"Are there any specific industries or job titles you want to focus on?\"  \n  - \"What are the biggest challenges or pain points your audience faces?\"\n\n---\n\n### **Question 3: Key Features/Benefits**  \n\"What are the key features or benefits of your product/service?  \n(e.g., What makes it unique? How does it solve your customers' problems?)\"  \n\n- **Follow-up (if needed):**  \n  - \"Can you provide examples of how your product/service has solved a specific problem for a customer?\"  \n  - \"Are there any features or benefits that are particularly important to highlight?\"\n\n---\n\n### **Question 4: Common Objections**  \n\"What are the most common objections you hear from prospects?  \n(e.g., Price, timing, lack of need, competition, etc.)\"  \n\n- **Follow-up (if needed):**  \n  - \"How do you typically address these objections?\"  \n  - \"Are there any objections that are particularly challenging to overcome?\"\n\n---\n\n### **Question 5: Value Proposition**  \n\"What is your value proposition?  \n(e.g., Why should customers choose you over competitors? What outcomes can they expect?)\"  \n\n- **Follow-up (if needed):**  \n  - \"Can you provide specific examples of outcomes your customers have achieved?\"  \n  - \"How do you differentiate yourself from competitors?\"\n\n---\n\n### **Question 6: Success Stories/Testimonials**  \n\"Do you have any success stories, case studies, or testimonials?  \n(e.g., Examples of how your product/service has helped other clients.)\"  \n\n- **Follow-up (if needed):**  \n  - \"Can you share specific details or metrics from these success stories?\"  \n  - \"Are there any particular clients or industries you’d like to highlight?\"\n\n---\n\n### **Question 7: Call-to-Action (CTA)**  \n\"What is your ideal call-to-action (CTA)?  \n(e.g., Schedule a demo, sign up for a free trial, request a quote, etc.)\"  \n\n- **Follow-up (if needed):**  \n  - \"How do you want to guide prospects toward this CTA?\"  \n  - \"Are there any specific steps or incentives you’d like to include?\"\n\n---\n\n### **Question 8: Tone/Style**  \n\"What tone or style should the script reflect?  \n(e.g., Professional, conversational, enthusiastic, formal, etc.)\"  \n\n- **Follow-up (if needed):**  \n  - \"Are there any brands or scripts you admire that we should use as inspiration?\"  \n  - \"Should the tone vary depending on the audience or stage of the sales process?\"\n\n---\n\n### **Question 9: Specific Phrases/Keywords**  \n\"Are there any specific phrases, keywords, or terminology you want included?  \n(e.g., Industry jargon, brand-specific language, or compliance-related terms.)\"  \n\n- **Follow-up (if needed):**  \n  - \"Are there any terms or phrases we should avoid?\"  \n  - \"Do you have a brand voice guide or glossary we should reference?\"\n\n---\n\n### **Question 10: Pricing Discussions**  \n\"How do you want to handle pricing discussions?  \n(e.g., Should pricing be mentioned upfront, or only after addressing objections?)\"  \n\n- **Follow-up (if needed):**  \n  - \"Are there any specific pricing strategies or discounts you want to highlight?\"  \n  - \"How do you typically justify your pricing to prospects?\"\n\n---\n\n**Instructions for the AI:**  \n1. Ask the questions in the order provided.  \n2. Tailor each question based on the user’s previous responses. For example, if the user’s primary goal is \"Generate leads,\" the examples in subsequent questions (e.g., \"e.g.,\") should reflect this context (e.g., \"e.g., Cold calling, email campaigns, social media outreach\").  \n3. Ask follow-up questions when necessary to gather more detail.  \n4. After all questions are answered, **write the responses into a Google Doc** in the following format:  \n\n---\n\n**Google Doc Structure:**  \n**Title:** Sales Script Questionnaire Responses  \n**Content:**  \n1. **Question:** What is the primary goal of this sales script?  \n   **Answer:** [User’s response]  \n\n2. **Question:** Who is your target audience?  \n   **Answer:** [User’s response]  \n\n3. **Question:** What are the key features or benefits of your product/service?  \n   **Answer:** [User’s response]  \n\n4. **Question:** What are the most common objections you hear from prospects?  \n   **Answer:** [User’s response]  \n\n5. **Question:** What is your value proposition?  \n   **Answer:** [User’s response]  \n\n6. **Question:** Do you have any success stories, case studies, or testimonials?  \n   **Answer:** [User’s response]  \n\n7. **Question:** What is your ideal call-to-action (CTA)?  \n   **Answer:** [User’s response]  \n\n8. **Question:** What tone or style should the script reflect?  \n   **Answer:** [User’s response]  \n\n9. **Question:** Are there any specific phrases, keywords, or terminology you want included?  \n   **Answer:** [User’s response]  \n\n10. **Question:** How do you want to handle pricing discussions?  \n    **Answer:** [User’s response]  \n\n---\n\n### **Examples of Contextual Suggestions:**  \n- If the user’s primary goal is **\"Generate leads,\"** the examples in Question 2 (Target Audience) could be:  \n  - \"e.g., Small business owners, marketing managers, startups looking for growth opportunities.\"  \n\n- If the user’s target audience is **\"Small business owners,\"** the examples in Question 3 (Key Features/Benefits) could be:  \n  - \"e.g., Affordable pricing, easy-to-use interface, dedicated customer support for small businesses.\"  \n\n- If the user’s value proposition is **\"Cost-effective solutions,\"** the examples in Question 10 (Pricing Discussions) could be:  \n  - \"e.g., Highlighting cost savings, offering tiered pricing plans, providing a free trial to demonstrate value.\"  \n\n---",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        260,
        -20
      ],
      "id": "e88dffa5-5126-40d3-b0f4-4ec5cf9b4ab1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        200,
        200
      ],
      "id": "afa05ce1-a5ca-4d50-a337-935817fc6a7b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "9dZkBlQ9pjp5qbos",
          "name": "Openai1"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        220
      ],
      "id": "790a2605-7ea3-413b-a67d-c7a756c4e162",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2786592-c297-41a2-8a59-426efd93fd0a",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "ac5a0813-ea96-41c9-ad0d-c0bf8e5ea6e4",
              "name": "sessionId",
              "value": "={{ $('When chat message received').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "82d8d84a-7199-456d-af73-6ac95d1d9f91",
              "name": "chatInput",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -20
      ],
      "id": "066ecbbc-7375-4d21-9259-927e6aa9659f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1YaYjo2GOVT5toTAWiqvSpUmdosI4EoisiSpZfWlDvx0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.chatInput }}\n{{ $json.output }}\n# Answer:- "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1000,
        -20
      ],
      "id": "776b1550-3f42-4fe5-82c2-e06677e36e72",
      "name": "Google Docs2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3e5cd46-71a3-4303-a7b1-d8580db54d42",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        200
      ],
      "id": "b12d997c-8fd2-40e3-8d22-c05684704ece",
      "name": "Output"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b3af86d7-40a3-4431-9652-066990033235",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-01-26T21:52:52.300Z",
      "updatedAt": "2025-01-26T21:52:52.300Z",
      "role": "workflow:owner",
      "workflowId": "TOLXZEUCWjo1DDJI",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}