repo/workflows/u3B5wm8iRKhhuDyj.json
{
  "createdAt": "2025-09-10T04:15:43.710Z",
  "updatedAt": "2025-09-11T05:20:48.987Z",
  "id": "u3B5wm8iRKhhuDyj",
  "name": "cis-onboarding",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Add Clients",
        "formDescription": "This is where you add clients",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        48
      ],
      "id": "91d46d12-9dd1-4e90-b265-fbb845b32fd5",
      "name": "On form submission",
      "webhookId": "fda487ec-596f-47db-a801-600822095b28"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Hi Please Join Slack Workspace",
        "message": "=https://join.slack.com/t/tebitaworkspace/shared_invite/zt-3d49zkbom-Gsd2TWC0GD9SBva2WuIwBA",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        48
      ],
      "id": "d2319cfa-dde4-497c-ab2c-2fdfda572b95",
      "name": "Send a message",
      "webhookId": "f74d5296-eb55-425d-bed2-2a26c41666ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "YZJy04K90HmM6neC",
          "name": "yonatantesfaye30@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "tableId": "onboarding_clients",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('On form submission').item.json.Name }}"
            },
            {
              "fieldId": "slack_invitation_sent",
              "fieldValue": "=true"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('On form submission').item.json.Email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        48
      ],
      "id": "365be716-eadc-4e89-ba9e-f6afcea8e50d",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "hh3dnHsjI82CZcfO",
          "name": "Unnamed credential Yo"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Name": "abe kebe",
          "Email": "abe@gmail.com",
          "submittedAt": "2025-09-11T07:20:12.450+02:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "ded77f91-eb93-4a37-9f5e-d3fbc2093400",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-10T04:15:43.710Z",
      "updatedAt": "2025-09-10T04:15:43.710Z",
      "role": "workflow:owner",
      "workflowId": "u3B5wm8iRKhhuDyj",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}