repo/workflows/UP6GXebTS3IboXI6.json
{
  "createdAt": "2025-10-30T08:48:59.173Z",
  "updatedAt": "2025-10-30T13:16:44.878Z",
  "id": "UP6GXebTS3IboXI6",
  "name": "_Apify",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8da2b0d1-b6dd-4aac-856f-08be33e626aa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-profile-search/run-sync-get-dataset-items?token=apify_api_C0LUoFcasNKrEqbxbOHTnYAgLRHC201SG7Mo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"maxItems\": 20,\n    \"profileScraperMode\": \"Short\",\n    \"recentlyChangedJobs\": false,\n    \"searchQuery\": \"New York basket ball coaches\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        0
      ],
      "id": "1f470705-30a1-4632-8100-889ee507171f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NlFr2Z3Znz04IfQQWcsTyo5jngnuSWaw4wQnSi1vJ5M",
          "mode": "list",
          "cachedResultName": "linkedin apify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NlFr2Z3Znz04IfQQWcsTyo5jngnuSWaw4wQnSi1vJ5M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "apify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NlFr2Z3Znz04IfQQWcsTyo5jngnuSWaw4wQnSi1vJ5M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "first name": "={{ $json.firstName }}",
            "last name": "={{ $json.lastName }}",
            "linkedin url": "={{ $json.linkedinUrl }}",
            "company name": "={{ $json.currentPositions[0].companyName }}",
            "title": "={{ $json.currentPositions[0].title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin url",
              "displayName": "linkedin url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "31155e9c-0b2c-44a0-84f6-85db2b259c9f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QRDbPRePSjuJZQ2h",
          "name": "lead scrape"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "eeede6ed-97d6-4f43-a196-2e1d178986bd",
      "name": "Limit"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "912932f5-834f-4813-bf4f-cf73554cad2b",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-10-30T08:48:59.173Z",
      "updatedAt": "2025-10-30T08:48:59.173Z",
      "role": "workflow:owner",
      "workflowId": "UP6GXebTS3IboXI6",
      "projectId": "IQ4w3zW02fJzIdTt",
      "project": {
        "createdAt": "2025-01-25T02:11:56.995Z",
        "updatedAt": "2025-01-25T21:11:21.957Z",
        "id": "IQ4w3zW02fJzIdTt",
        "name": "Yonatan Tesfaye <yonatantesfaye30@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}